
@model VRhfo.BL.Models.User 
@{
    ViewData["Title"] = "Index";
}

<div class="profile-container">
    <h1>@Model.Username</h1>
</div>

<style>
    .profile-container{
        display: flex;
        justify-content: center;
     }
</style>