@model VRhfo.BL.Models.User
@{
    ViewData["Title"] = "ManageAccount";
}
<style>
    .page{
        display: flex;
        justify-content: center;
    }
</style>
<div class="page">

    <h2>Manage Account</h2>

</div>

