@model VRhfo.BL.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
    body {
        background: rgb(21, 21, 21) background: hsla(221, 45%, 73%, 1);
    }

    .settings-form {
        border: 1px solid rgba(100, 100, 100, .6);
        padding: 20px;
        border-radius: 8px;
        width: 620px;
        height: 400px;
        margin-top: 80px;
        min-width: 280px;
    }

            .wrapperM{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @@media(max-width: 350px){
                .settings-form{
                    max-width: 150px !important;
                }
            }
</style>

<div class="wrapperM">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form method="post" asp-controller="User" asp-action="Update" class="settings-form">
        <h2 class="form-title">Account Settings</h2>
        <label>Username</label><input class="input-box" type="tel" /> </br> 
        <label>Password</label><input class="input-box" type="tel" /> </br> 

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
