<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Hands Free Orgasms - Free</title>
    <link rel="icon" href="/img/logop.png" type="image/icon type">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VRhfo.UI.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/8b1653d39b.js" crossorigin="anonymous"></script>
    <style>
        .custom-navbar {
            background-color: #191919;
        }



        .navbar-nav {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 0;
        }

            .navbar-nav .search {
                flex-grow: 1;
                margin-left: 20px;
                margin-right: 20px;
            }

            .navbar-nav .nav-link {
                margin-left: auto;
            }

        /* change button color to pink and search box width */
        .btn-outline-primary {
            color: #ff69b4;
            border-color: #ff69b4;
        }

            .btn-outline-primary:hover {
                background-color: #ff69b4;
                color: white;
                border: hidden;
            }

        .form-control {
            width: 400px; /* change this as per your requirement */
        }
        /* reduce space between links */
        .navbar-nav .nav-item {
            margin-left: 10px; /* change this as per your requirement */
        }

        .nav-item .search {
            max-width: 50%;
            margin: 50% auto;
        }

        .custom-search {
            width: 100%;
            background-color: black;
            border: 1px solid hotpink;
        }

        .join-now {
            background-color: #E00095;
            border-radius: 4px;
            width: 110px;
            text-align: center;
            height: 38px;
        }

            .join-now:hover {
                background-color: #DB64B0;
            }

        .login {
            border-radius: 4px;
            border: 1px solid pink;
            background-color: #3F2D39;
            margin-right: 10px;
            color: #EB7FCB;
            width: 75px;
            text-align: center;
            height: 40px;
        }

            .login:hover {
                background-color: #DA6EB2;
            }

        .center {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        .buttons {
            display: flex;
            margin-right: 10px;
            margin-top: 5px;
        }

        .search {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 0;
        }

        .cust {
            border: 1px solid grey;
        }

        .no-hands {
            position: relative;
            top: 10px;
            font-family: 'Sans Serif Collection';
        }

        .container {
            margin: 0; /* Remove container margin */
            max-width: 100%; /* Ensure container takes up full width */
        }

        /* Media query for iPhone 12 screen */
        .custom-search:focus{
            outline: none !important;
            box-shadow: none !important;
            border-color: hotpink !important;
            background-color: black;
            color: white !important;
        }

        .lik-box {
            width: 100%; /* Device width */
            height: 40px; /* Desired height */
            background-color: rgb(49, 49, 49); /* Light grey */
            /* Modern styles */
            margin-top: 0px !important;

            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
            border-radius: 4px; /* Slightly rounded corners */
            display: flex; /* Enable proper link arrangement */
            align-items: center; /* Vertically center links */

        }

        .sub-link-item{
            color: white !important;
            margin-left: 60px;
            white-space: nowrap; /* Prevent text wrapping */
            overflow: hidden; /* Hide text if it exceeds the container */
            text-overflow: ellipsis;
        }

        .sub-link-item:hover{
            color: rgb(255, 84, 167) !important;
        }

        .link-box{
            padding: 20px;
        }


        <!-- TOGGLE BUTTON-->

    </style>
</head>
<body>
    <header>
        <nav class="navbar custom-navbar navbar-expand-sm navbar-toggleable-sm box-shadow ">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-lg-row">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="site-logo" src="/img/goonvr.png" /></a>
                        </li>
                        <li class="nav-item no-hands">
                            <p></p>
                        </li>
                        <li class="nav-item search">
                            <form class="form-inline my-2 my-lg-0 search">
                                <div class="input-group">
                                    <input type="search" class="form-control rounded custom-search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                    <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </li>
                        <div class="buttons">
                        <li class="nav-item">
                            <a class="nav-link text-light join-now" asp-controller="Home" asp-action="JoinNow">Join Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light login" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                </div>
                </ul>
            </div>
        </nav>

        <div class="lik-box">
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Home" asp-action="Index">Latest</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Home" asp-action="Index">Cateories</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Home" asp-action="Index">Hypnosis</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Home" asp-action="Index">VR Gooning</a>
            </div>

         
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="  footer text-muted">
        <div class="container center">
            <p class="center"> &copy; 2023 - vrhfo.com- <a asp-area="" asp-controller="Video" asp-action="Index">/Video</a></p>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
