@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5WM46PDC');</script>
    <!-- End Google Tag Manager -->


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> brainbreaker.tv</title>
    <link rel="icon" href="/img/logop.png" type="image/icon type">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VRhfo.UI.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;0,800;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8b1653d39b.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <style>
        body{
            overflow-x: hidden;
        }
        .username-txt{
            color: deepskyblue;
            font-weight: 700;
            font-size: 20px;


        }
        .username-txt:hover{
            cursor: pointer;
            color: #0098cb;
        }
        .custom-navbar {
            background-color: #010101;
            z-index: 999999 !important;

        }


        .search-form{
            max-width: 600px;
            margin-left: 20px;
        }
        .navbar-nav {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 0;
            padding: 0 !important;
            height: 50px;
        }

            .navbar-nav .search {
                flex-grow: 1;
                margin-left: 20px;
                margin-right: 20px;
            }

            .navbar-nav .nav-link {
                margin-left: auto;
            }

        /* change button color to pink and search box width */
        .btn-outline-primary {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }.btn-outline-primary:focus {
            border-color: var(--primary-color) !important;
        }.btn-outline-primary2:focus {
            border-color: var(--primary-color) !important;
        }
        .btn-outline-primary2{
            color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
        }

            .btn-outline-primary:hover {
                background-color: var(--primary-color);
                color: #000;
                border-color: var(--primary-color);
            }

        .form-control {
            width: 400px; /* change this as per your requirement */
        }
        /* reduce space between links */
        .navbar-nav .nav-item {
            margin-left: 10px; /* change this as per your requirement */
        }

        .nav-item .search {
            max-width: 50%;
            margin: 50% auto;
        }

        .custom-search {
            position: relative;
            width: 100%;
            background-color: black;
            border: 1px solid var(--primary-color);
            padding: 8px 20px;
        }

        .join-now {
            position: relative;
            top: 3px;
            color: #333 !important;
            font-weight: bold;
            border-radius: 4px;
            width: 110px;
            text-align: center;
            font-size: medium;
            height: 37px;
            background-color: var(--primary-color);
            /* background-color: rgb(0, 153, 205); */
        }

            .join-now:hover {
                background-color: var(--primary-color-hover);
            }

        .login {
            border-radius: 4px;
            /* border: 1px solid grey; */            
            margin-right: 10px;
            color: #EB7FCB;
            width: 85px;
            text-align: center;
            height: 40px;
            margin-top: 3px;
            font-weight: 700;
            font-size: medium;
        }

            .login:hover {
                color: #fff;
                background-color: rgba(87, 87, 87, 0.60);
                cursor: pointer;
            }

        .center {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        .buttons {
            display: flex;
            margin-right: 10px;
            margin-top: 5px;
        }

        .search {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 0;
        }
        .custom-search{
            color: white !important;
        }
        .cust {
            border: 1px solid grey;
        }

        .no-hands {
            position: relative;
            top: 10px;
            font-family: 'Sans Serif Collection';
        }

        .container {
            margin: 0; /* Remove container margin */
            max-width: 100%; /* Ensure container takes up full width */
            margin-top: 16px;
            padding: 0;
        }

        /* Media query for iPhone 12 screen */
        .custom-search:focus{
            outline: none !important;
            box-shadow: none !important;
            border-color: white !important;
            background-color: black;
            color: white !important;
        }
        .search-cue{
            border: 1px solid white !important;
            border-color: white;
            color: white !important;
        }       
        
        .sub-link-item:hover{
            color: #fff;
           background-color: #393939;
            cursor: pointer;
        }

        .link-box{
            margin-left: 25px;
        }

        .input-group {
            min-width: 120px;
        }

               
            .goggles{
                margin-top: 10px;
            }
            .searchbar{
                width: 100%;
            }
           
            .right{
                    margin-left: 110px;
            }
            .right-lnk{
            color: hotpink !important;
            font-weight: 700;
            text-decoration:overline;
            letter-spacing: 2px;
        }
        .right-lnk:hover{
            color: #e058bb !important;
        }
        .welcum{
            width: 180px;
            white-space: nowrap;
            bottom: 0;
            top: auto;
            margin-left: -15px !important;

        }       

        .dropdown  {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #111;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 999;
            border-radius: 4px;
            padding: 0px !important;
            font-size: large;
            margin-left: -10px;
            margin-top: 7px;
            -moz-box-shadow: 0 0 3px #ccc;
            -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;
        }
            .dropdown-content a {
                color: white;
                padding: 15px 5px 10px 12px;
                text-decoration: none;
                display: block;
                transition: background-color 0.4s ease;
                border-bottom: 1px solid #444;
                z-index: 999 !important;
            }
                .dropdown-content a:hover {
                    background-color: #222;
                    color: white !important;
                    transform: scale(1);
                    z-index: 999 !important;
                }
        .welcum:hover .dropdown-content {
            display: block;
            z-index: 999;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        .forgot{
            font-size: small;
        }      

        .categories-content{
            margin-left: 40px;
        }

        .categories-dropdown-container {
            display: flex;
            justify-content: space-evenly;
            padding: 0px 40px;
        }

        .sub-link-item {
=            white-space: nowrap; /* Prevent text wrapping */
            overflow: hidden; /* Hide text if it exceeds the container */
            text-overflow: ellipsis;
            font-size: large;
            background-color: var(--secondary-color);
            border-radius: 3px;
            padding: 10px 20px;
            font-family: 'Lucida Console';
            color: white;
            margin-left: 5px !important;
            margin: 0 !important;
            margin-right: 4px !important;
        }
        .dropdown-content.cat{
            margin-left: 10px;
            margin-top: 5px;
        }
        .vr-link{
            color: var(--primary-color);
        }.vr-link:hover{
            color: var(--primary-color);
        }
        .premium-link{
            color: #00bfff;
        }

        .premium-link:hover {
            color: #0099cd;
        }
        .top-editors{
            color: var(--accent-color);
        }
        .top-editors:hover{
                color: #c9cdfa !important;
        }
        .sub-link-item {
            position: relative;
            border-left: 2px solid #555;
            padding-left: 6px;
            height: 100%;
        }
        .site-name-logo{
            color: var(--primary-color);
            font-family: "Barlow", sans-serif;
            font-weight: 700;
            font-size: 2.4rem;
            letter-spacing: -1px;
            padding: 0px !important;
            margin: 0 !important;
            position: relative;
            margin-top: 15px !importantl;
        }             









        
        .login-modal-main {
r            height: 320px;
            max-width: 400px;
            background-color: #131313;
            color: var(--text-color);
            border-radius: 10px;
            padding: 23px !important;
            position: fixed;
            z-index: 999999;
            margin-left: auto;
            margin-right: auto;
            left:0;
            right: 0;
            top: 20% !important;
            outline: 1px solid var(--accent-color);
/           
        }
        .login-modal-options {
            display: flex;
            justify-content: space-around;
            margin: 1px;
        }  
        .login-custom-x {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 12px;
            margin-top: 3px;
            font-size: x-large;
            color: #888;
        }
        .login-custom-x:hover {
            border-radius: 8px !important;
            cursor: pointer;
            color: #fff;
            transition: 300ms;
        }
        .hidden{
            display: none !important;
        }        
        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0.8;
            z-index: 9999;
        }
        .white{
            color: #fff;
        }
       .rotate-right{
            display: inline-block; /* Ensures the span takes up only as much space as the letter */
            transform: rotate(30deg); /* Rotate the element by 45 degrees */
            margin-left: 3px;
            margin-right: -2px;
       }
       .rotate-left{
            display: inline-block; /* Ensures the span takes up only as much space as the letter */
            transform: rotate(333deg); /* was 340deg before 10/21 */
            margin-right: -1px;
       }




        #sidebar {
            position: absolute;
            left: 0;
            height: 100vh;
            max-width: 230px;
            width: 100%;
            background-color: transparent;
            transition: transform 0.3s ease-in-out;
            z-index: 9999;
            margin-top:9px !important;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 13px;
            min-width: 200px;
            overflow-y: scroll;

        }
        #sidebar.open {
            transform: translateX(0);
        }

        #toggleSidebar {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 27px;
            margin-left: 5px;
           
        }
        #toggleSidebar:hover{
            color: #bbb;
            border-radius: 50%;

        }
        @@media (min-width: 1000px) {
              #sidebar {
                position: static;
                transform: none;
              }  
  
              #sidebar.closed {
                display: none;
              }
  
              main.sidebar-closed {
                margin-left: 0;
              }    
              
        }    
        @@media(max-width: 1000px){
            #sidebar{
                position: fixed;
                display: none;
            }
            .card-container{
                margin: 0 !important;
                padding: 0 !important;
                max-width: 90vw;
            }
            .navbar{
                position: fixed;
                z-index: 999;
                width: 100vw;
                /* Force hardware acceleration */
                transform: translateZ(0);
                will-change: transform;
                /* Optional: Improve performance on mobile */
                -webkit-overflow-scrolling: touch;
            }
            .video-index-container{
                margin-top: 80px;
            }
            .vid{
                margin-top: 60px;
            }
            .home-link{
                margin-top: 10px !important;
            }            
        }

    .categories-ul-container{
        list-style-type: none !important;        
    }   
        
    .sb-link{
            color: #bbb;
            position: relative;
            width: 90%;
            max-width: 100%;
            padding: 5px 9px;
            margin-bottom: 3px;
            font-size: 18px;
            border-radius: 6px;
            margin-left: 2px;
            margin-top: 3px;
    }
        .sb-link:hover {
            background-color: #393939;
            cursor: pointer;
            color: white;
        }
        .sidebar-title{
            color: var(--accent-color);
            font-size: 22px ;            
            margin-right: auto;   
            font-weight: 600;
        }
        .breaker{
            width: 90%;
            border-bottom: 1px solid #444;
            margin: 10px 0;
        }

        main {
            display: flex;
            flex-direction: row;
            margin-top: 0px;
        }
        .main-pg{
            width: 100vw;
        }
        .home-svg{
            margin-right: 5px;
            margin-bottom: 5px;
            height: 18px !important;
            width: 18px !important;
        }
        .sidebar-icons{
            margin-right: 5px;
            margin-bottom: 5px;
            height: 22px !important;
            width: 22px !important;
        }   
        
        .mobile-sidebar{
            display: flex !important;
            background-color: #111 !important;
            top: 54px !important;
            height: 90vh !important;
            border-right: 1px solid #222;
        }
        .explain{
            font-size: x-small;
        }
        .live-indicator {
              display: inline-flex;
              align-items: center;
              font-weight: 600;
                color: var(--primary-color);
              font-size: 15px;
            }

.live-indicator::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
                background-color: var(--primary-color);
  border-radius: 50%;
                margin-right: 5px;
                margin-left: 7px;
                animation: pulse 1.5s ease-in-out infinite;
}

@@keyframes pulse {
  0% {
    transform: scale(0.95);
                box-shadow: 0 0 0 0 var(--primary-color);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

    .links-container{
        display: flex;
        justify-content: center;
        align-items:center;
        position: sticky;
    }
    .link-item{
        padding-right: 20px;
        color: #999;
    } .link-item:hover{
        color: #ddd;
        text-decoration: underline;
        cursor: pointer;
    }
    .network-txt{
        margin-left: 20px;
        margin-right: 20px;
        color: #ccc;
    }

        .sticky {
            position: fixed;
            top: 0px;
            width: 100%;
        }
        .network-txt{
            color: #aaa;
        }
        @@media(max-width: 1000px){
            .black-nav{
                display: none !important;
            }
        }
        .home-link{
            font-size: 20px !important;
            font-weight: 700 !important;
            margin-bottom: -6px;
        }
        .black-nav{
            background: #222;
            margin-bottom: 0px;
            border-bottom: 1px dotted #333;
        }

        .mobile-footer{
            width: 100%;
            height: 65px !important;
            position: fixed;
            bottom: 0px;
            display: flex;
            justify-content: space-around;
            background: #111;
            z-index: 999;
            align-items: center;
            /* Force hardware acceleration */
            transform: translateZ(0);
            will-change: transform;    
            /* Optional: Improve performance on mobile */
            -webkit-overflow-scrolling: touch;
        }

        .footer-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: #333;
            padding-bottom: 12px;
            padding-top: 6px;
        }

        .footer-icon img{
            margin-bottom: 2px;
            height: 22px;
            width: 22px;
        }
        @@media(min-width: 1000px)
        {
            .mobile-footer{
                display: none !important;
            }
           
        }
        .footer-text{
            color: #aaa !important;
            font-size: 12px;
        }
        .nav-left{
            display: flex;
        }
        #login-button2:hover{
            cursor: pointer;
        }
        .your-stats-container{
            display: flex;
            flex-direction: column;
            align-items: start;
            align-self: start;
            width: 97% !important;
            font-family: 'Trebuchet MS';
            background-color: #0a0a0a;
            border-radius: 10px; 
            border: 1px solid grey;
            padding: 5px;
            margin-bottom: 15px;
        }

        .your-stats-container h5{
            padding: 1px;
            font-size: medium;
            left: 0 !important;
            color: #666;
            align-self: center;
        }
        @@keyframes color-change {
          0% { color: #888; }
          50% { color: #666; }
          100% { color: #aaa; }
        }
        .your-stats a{
            align-self: start;
            margin-left: 0 !important;
            padding-left: 0 !important;
            color: var(--accent-color) !important;
        }

        .result-box ul{
            border-top: 1px solid #999;
            padding: 15px 10px;
            background-color: #000 !important;
        }
        .result-box ul li{
            list-style: none;
            border-radius: 3px;
            padding: 5px 10px;
            cursor: pointer;
        }
            .result-box li:hover {
                background-color: #555;
            }
        .result-box{
            max-height: 200px;
            overflow-y: scroll;
        }
        #Search::-webkit-search-cancel-button {
            filter: invert(97%) sepia(11%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
            cursor: pointer;
            padding: 2px;
        }
        .mobile-search{ 
            position: fixed;
            top: 12%;
            width: 98%;
            z-index: 999;
        }
        .mobile-search input{
                position: relative;
                width: 100%;
                background-color: black;
                border: 1px solid var(--primary-color);
                padding: 8px 20px;
                font-size: large;
        }
        .mobile-search input:focus{
                    outline: none !important;
                    box-shadow: none !important;
                    border-color: white !important;
                    background-color: black;
                    color: white !important;
        }        
        .overlay2{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0.9;
            z-index: 99;      
        }
        .nav-top{
            margin-right: 50px !important;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WM46PDC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
    <div class="black-nav">
         <div class="links-container">
            <div class="network-txt">Network:</div>
            <div class="link-item">Announcements</div>
            <div class="link-item">BrainBreaker.tv Discord</div>
            <div class="link-item">Support the site</div>
            <div class="link-item">Gooner Store</div>
         </div>
    </div>
        <nav class="navbar custom-navbar navbar-expand navbar-toggleable-sm box-shadow " id="navbarr">
          
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-lg-row nav-top">
                       
                            <div class="nav-left">
                                <button class="hamburger" id="toggleSidebar">☰</button>

                                    <a class="navbar-brand brain-break" asp-area="" asp-controller="Video" asp-action="Index" asp-route-category="Latest">
                                         <p class="site-name-logo"><span class="white">Brain</span>B<span class="rotate-left">r</span><span class="rotate-right">e</span>aker<span class="white">.tv</span></p>
                                    </a>
                            </div>
                            
                            <li class="nav-item search">
                                <form class="form-inline   search-form">
                                    <div class="input-group searchbar">
                                        <input id="Search" type="search" class="form-control  custom-search" placeholder="Search"   data-search/>
                                        <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>                                                                          
                                    </div>
                                <div class="result-box">
                                     
                                </div>
                                </form>
                            </li>
                        @{
                            var username = HttpContextAccessor.HttpContext?.Session.GetString("username");
                        }
                        @if (Authenticate.IsAuthenticated(Context) && username != "")
                        {
                           

                            <div class="buttons">
                               
                                    <!--WELCOME USER-->
                                <ul class="navbar-nav">

                                    <li class="nav-item welcum">
                                        <img src="/img/bell.png" height="30" width="30" />
                                        <p class="nav-link text-light dropdown">
                                            <!--diamond logo for premium -->
                                            <span class="diamond">
                                                <svg class="o-iconD o-icon-svgD " viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.06419 14.7411c-.10982-.0012-.21803-.0265-.31697-.0742-.09894-.0477-.18618-.1166-.25554-.2017L.672817 6.15741c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.5931c.06641-.10241.15756-.18643.26503-.2443.10747-.05787.2278-.08772.34985-.08679l8.695.06208c.1236.00146.2448.03333.3531.0928.1083.05946.2002.14469.2677.24815l2.4389 3.70997c.0882.13302.1318.29072.1244.4502-.0075.15947-.0655.31243-.1658.43665L8.63276 14.475c-.06879.0842-.15557.1519-.25396.1981-.0984.0462-.2059.0698-.31461.069v-.001z" fill="#37C4B3"></path>
                                                    <path d="M10.9376 5.80361L8.06418 14.743 5.08044 5.76223l-4.578103-.0335c-.012524-.16198.028313-.3236.116275-.46018L3.00522 1.59306c.06943-.10727.16597-.19429.27984-.25225l2.91083 4.4293 3.60848.02562 2.84773-4.38792c.1124.05814.2109.14485.2838.25423L15.3748 5.373c.09.13702.1332.2995.1231.46313l-4.5603-.0335v.00098z" fill="#53E7D3"></path>
                                                    <path d="M7.96372 1.29253h.00788l2.966 4.51109-5.87486-.04237 2.90098-4.46872z" fill="#B9F5ED"></path>
                                                    <path opacity=".1" d="M2.64359 6.17018s4.98999 8.46842 4.84809 8.29592L.672817 6.15639c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.59307c.06618-.10278.15723-.18719.26472-.24541.10748-.05823.22793-.08837.35016-.08765l1.97077.01379c-.12214-.00082-.24253.02917-.35.08722-.10748.05804-.19858.14226-.26488.24486l-2.3866 3.67647c-.08614.13466-.12731.29319-.11757.45275.00974.15955.06988.3119.17177.43508z" fill="#000"></path>
                                                </svg>
                                            </span> <a asp-controller="User" asp-action="Index"></a>
                                        </p>
                                        <div class="dropdown">
                                            <span class="username-txt">@@@username &#x25BC;</span>
                                            <div class="dropdown-content">
                                                <a asp-action="Index" asp-controller="User" asp-route-username="@username">  <img src="~/img/user.png" height="25" width="25" class="m-1"/>Profile</a>
                                                <a asp-action="Liked" asp-controller="Home"><img src="~/img/like.svg" class="m-1" />Favorites</a>
                                                <a asp-action="Upload" asp-controller="Video"><img src="~/img/upload.png" height="25" width="25" class="m-1" /> Upload +</a>
                                                <a asp-action="ManageAccount" asp-controller="User" asp-route-username="@username"><i class="bx bxs-lock-alt m-1"></i>Manage Account</a>
                                                <a href="#" class="forgot">Forgot Password</a><!-- this will just be change username and password page, user can select which -->
                                                <a class="forgot" asp-action="Logout" asp-controller="User">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                    @* <li class="nav-item">
                                        <a class="nav-link text-light login" asp-controller="User" asp-action="Logout">Logout</a>
                                    </li> *@
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="nav-login-buttons">
                                <li class="nav-item">
                                    <a id="login-button" class="nav-link text-light login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light join-now" asp-controller="Home" asp-action="JoinNow">Join Now</a>
                                </li>
                             </div>
                        }
                    </ul>
            </div>    
            </div>
        </nav>                
    </header>               
        <main role="main" class="pb-3 page " >
            <nav id="sidebar" class="">
                <a class="sb-link home-link" asp-action="Index" asp-controller="Video" asp-route-category=""><svg class=" home-svg" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7 17.957h-5.829a.764.764 0 0 1-.762-.762v-3.62c0-.914-.724-1.638-1.638-1.638-.915 0-1.639.724-1.639 1.638v3.62c0 .42-.343.762-.762.762H1.317a.764.764 0 0 1-.762-.762V7.441c0-.686.343-1.334.876-1.715L9.09.201c.266-.19.61-.19.876 0l7.658 5.525c.534.381.877 1.029.877 1.715v9.792a.822.822 0 0 1-.8.724Zm-5.067-1.486h4.344v-9.03a.651.651 0 0 0-.267-.495l-7.201-5.22-7.202 5.181a.651.651 0 0 0-.266.496v9.03h4.343v-2.858a3.139 3.139 0 0 1 3.125-3.124 3.139 3.139 0 0 1 3.124 3.124v2.896Z" fill="#fff"></path></svg> Home</a>
                <div class="breaker"></div>

                <p class="sidebar-title">Categories</p>                
                    <a class="sb-link sb-link-top" asp-action="Index" asp-controller="Video" asp-route-category="Latest"><img class="sidebar-icons" src="~/img/new (1).png" />  Latest uploads</a>
                    <a class="sb-link" asp-action="Index" asp-controller="Video" asp-route-category="Brainwashing"><img class="sidebar-icons" src="~/img/cogwheel.png" />  Brainwashing</a>
                    <a class="sb-link" asp-action="Index" asp-controller="Video" asp-route-category="Gooning"><img class="sidebar-icons"src="~/img/hypnosis.png" />  Gooning</a>                                             
                    <a class="sb-link" asp-action="Index" asp-controller="Video" asp-route-category="HFO"><img class="sidebar-icons" src="~/img/prohibition.png" /> HFO <span class="explain">(Hands Free Orgasm)</span></a>
                    <a class="sb-link" asp-action="Index" asp-controller="Video" asp-route-category="Hypnosis"><img class="sidebar-icons" src="~/img/hypnosis (2).png" />  Hypnosis</a>  
                    <div class="breaker"></div>
                    
                    <a class="sb-link" asp-action="Live" asp-controller="Home">
                        <img class="sidebar-icons" src="~/img/tv.png" />TV <span class="live-indicator">Live</span></a>
                    
                    <div class="breaker"></div>
                    <a class="sb-link" asp-action="Captions" asp-controller="Home">Porn Captions</a>
                    <a class="sb-link" asp-action="Index" asp-controller="Video" asp-route-category="Top">Top Creators</a>

                    <div class="your-stats-container">
                    <p class="sb-link your-stats"><a asp-action="JoinNow" asp-controller="Home">Watch time</a> </p>

                       <div class="stats-2-boxes">
                             <div class="stat-box">
                                <h5><span class="lesser">Today </span><span class="watch-time-value">32m 12s</span></h5>
                                <h5><span class="lesser">This month </span> <span class="watch-time-value">23h</span></h5>
                             </div>
                             
                             <div class="stat-box">
                                <h5><span class="lesser">This week </span> <span class="watch-time-value">5h 12m</span></h5>
                             <h5><span class="lesser">This year</span> <span class="watch-time-value">114h</span></h5>
                             </div>                                                                             
                       </div>
                        
                        
                        <h5>Lifetime: <span class="watch-time-lifetime">234 hours</span></h5>
                    </div>
                                        
            </nav>
            <div class="overlay hidden">
                  
            </div>
            <div class="overlay2 hidden">
                  
            </div>
                      
            <div id="login-modal" class="login-modal-main hidden">
                <div class="login-modal-contain">
                    <span id="close-login-modal" class="login-custom-x">&times;</span>
                    <h3 class="login-modal-title">Member Login</h3>
                    <p class="not-mem-txt">Not a member? Click to<a asp-controller="Home" asp-action="JoinNow" class="join-now-btn-small">Join Now</a></p>
                    <form id="login-form">
                        <div class="top-rw">
                            <input  id="email" name="email" class="txt-box email ro" placeholder="Your Email" required>
                        </div>
                        <div class="">
                            <input type="password" id="password" name="password" class="txt-box pass ro" placeholder="Password" required  >
                        </div>
                        
                        <div id="login-message"></div>

                        <button type="submit" class="login-btn ro ">Login</button>
                        <p class="forgot-txt">Forgot password? Click <a href="#" class="here-txt">Here</a> to recover.</p>
                    </form>
                    
                </div>
            </div>

            <div class="mobile-footer">                
                <a asp-action="Index" asp-controller="Video" asp-route-category="Latest" class="footer-item">
                    <span class="footer-icon"><img src="~/img/home.png" /></span>
                    <span class="footer-text">Home</span>
                </a>
                <a href="#" class="footer-item">
                    <span class="footer-icon"><img src="~/img/category.png" /></span>
                    <span class="footer-text">Categories</span>
                </a>
                <a id="login-button2"10 class="footer-item">
                    <span class="footer-icon"><img src="~/img/user.png" /></span>
                    <span class="footer-text">Login</span>
                </a>               
                <a  class="footer-item search-link">
                    <span class="footer-icon"><img src="~/img/search.png" /></span>
                    <span class="footer-text">Search</span>
                </a>
                <a asp-action="JoinNow" asp-controller="Home" class="footer-item">
                     
                        <span class="footer-icon">
                            <svg class="o-icon o-icon-svg " viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.06419 14.7411c-.10982-.0012-.21803-.0265-.31697-.0742-.09894-.0477-.18618-.1166-.25554-.2017L.672817 6.15741c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.5931c.06641-.10241.15756-.18643.26503-.2443.10747-.05787.2278-.08772.34985-.08679l8.695.06208c.1236.00146.2448.03333.3531.0928.1083.05946.2002.14469.2677.24815l2.4389 3.70997c.0882.13302.1318.29072.1244.4502-.0075.15947-.0655.31243-.1658.43665L8.63276 14.475c-.06879.0842-.15557.1519-.25396.1981-.0984.0462-.2059.0698-.31461.069v-.001z" fill="#37C4B3"></path>
                                <path d="M10.9376 5.80361L8.06418 14.743 5.08044 5.76223l-4.578103-.0335c-.012524-.16198.028313-.3236.116275-.46018L3.00522 1.59306c.06943-.10727.16597-.19429.27984-.25225l2.91083 4.4293 3.60848.02562 2.84773-4.38792c.1124.05814.2109.14485.2838.25423L15.3748 5.373c.09.13702.1332.2995.1231.46313l-4.5603-.0335v.00098z" fill="#53E7D3"></path>
                                <path d="M7.96372 1.29253h.00788l2.966 4.51109-5.87486-.04237 2.90098-4.46872z" fill="#B9F5ED"></path>
                                <path opacity=".1" d="M2.64359 6.17018s4.98999 8.46842 4.84809 8.29592L.672817 6.15639c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.59307c.06618-.10278.15723-.18719.26472-.24541.10748-.05823.22793-.08837.35016-.08765l1.97077.01379c-.12214-.00082-.24253.02917-.35.08722-.10748.05804-.19858.14226-.26488.24486l-2.3866 3.67647c-.08614.13466-.12731.29319-.11757.45275.00974.15955.06988.3119.17177.43508z" fill="#000"></path>
                            </svg>
                        </span>                    
                    <span class="footer-text">Premium</span>
                </a>
            </div>
       
        <div class="mobile-search hidden">
            <form class="form-inline   search-form">
                <div class="input-group searchbar">
                    <input id="mobileSearch" type="search" class="form-control  " placeholder="Search" data-search />
                    <button type="button" class="btn btn-outline-primary2  "><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="result-box">
                </div>
            </form>
            <div class="close-btn" onclick="toggleHidden()">
                Close
            </div>
        </div>
            @RenderBody()
        </main>
    
    <footer class="footer text-muted">
        <div class="container center">
            <p class="center"> &copy; 2024 - brainbreaker.tv </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>   
    .lesser{
        font-size: smaller;
    }
    .nav-login-buttons{
        display: flex;
    }
    .sb-link-top{
        margin-top: -2px;
    }
    .watch-time-lifetime{
        font-weight: 600;
        animation: color-change-red 5s infinite;
    }

    @@keyframes color-change-red {
        0% {
            color: red;
        }
        50% {
            color: darkred;
        }
        100% {
            color: red;
        }
    }
    .watch-time-value{
        color: var(--accent-color);
        animation: color-change 5s infinite;
    }
    .stats-2-boxes{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .stat-box{
        width: 100%;
        font-size: small;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }  
    .stat-box h5{
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    .close-btn{
        padding: 5px;
        background-color: #222;
        border: 1px solid var(--accent-color);
        position: absolute;
        right: 15px;
        width: 60px;
        margin-top: 9px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }. 
    <!-- DIAMOND AND LIKE BUTTONS -->
    .o-icon-svg {
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    .o-icon {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        vertical-align: middle;
        fill: grey;
        width: 24px;
        height: 24px;
    }
    #login-message{
        color: darkred !important;
        font-size: large;
    }
    .not-mem-txt{
        color: white !important;
    }
    .login-modal-title{
        color: white !important;
    }
    .forgot-txt{
        color: #888;
    }
    .here-txt{

        color: white !important;
        text-decoration: underline;
    }
    .top-rw{
        margin-top: 12px;
    }
    .ro{
        margin-bottom: 10px !important;
    }
    .login-btn{
         width: 100%; 
         padding: 6px;
         background-color: var(--accent-color); 
         border-radius: 6px;
         color: #333 !important;
         font-weight: 700 !important;
         font-size: large;

    }
    .login-btn:hover{
        background-color: var(--primary-color-hover);
        transition: 300ms;
    }
.join-now-btn-small{
        color: white !important;
        padding: 4px;
        font-weight: 700;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 4px;
        text-decoration: underline;
    }

    .join-now-btn-small:hover {
       background-color: var(--primary-color-hover); 
       color: #222 !important;
       text-decoration: none;
    }
    .txt-box{
        position: relative;
        background-color: black;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin: 3px;
        color: white;
        border: none ;
        outline: 2px solid hsl(206, 16%, 65%);
    }

    input:user-valid {
        outline-color: var(--primary-color) !important;
    }

    input:user-invalid {
        outline-color: darkred !important;
    }
    input:focus{
        outline-color: darkgrey;
    }
    .search-link:hover{
        cursor: pointer;
    }

</style>
<script>
    
    const mobileSearch = document.querySelector(".mobile-search");
    const searchLink = document.querySelector(".search-link");
    const overlay2 = document.querySelector('.overlay2');
    const mobileSearchInput = document.getElementById('mobileSearch');
    const searchCue2 = document.querySelector('.btn-outline-primary2');

    searchLink.onclick = function() {
        mobileSearch.classList.toggle("hidden");
        overlay2.classList.toggle('hidden');
    };

    function toggleHidden(){
        mobileSearch.classList.toggle("hidden");
        overlay2.classList.toggle('hidden');
    }

    mobileSearchInput.addEventListener("focus", () => {
        searchCue2.classList.add("search-cue");
    });
    mobileSearchInput.addEventListener("focusout", () => {
        searchCue2.classList.remove("search-cue");
    });

    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbarr");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.scrollY >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

    document.getElementById('login-form').addEventListener('submit', function (e) {
        e.preventDefault();

        var username = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var loginMessage = document.getElementById('login-message');
        var returnUrl = window.location.href;

        fetch('/User/LoginModal', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username: username, password: password, returnUrl: returnUrl})
        })
            .then(response => {
                if (!response.ok) {                   
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    // Login successful
                    console.log(data.message);
                    window.location.href = data.returnUrl || '/'; 
                } else {
                    // Login failed
                    console.log(data.message);
                    document.getElementById('login-message').textContent = data.message;
                }
            })
            .catch(error => console.error('Error:', error));
    });

    document.addEventListener('DOMContentLoaded', function () {
        const loginButton = document.getElementById('login-button');
        const loginButton2 = document.getElementById('login-button2');
        const loginModal = document.getElementById('login-modal');
        const closeBtn = document.getElementById('close-login-modal');
        const overlay = document.querySelector('.overlay');

        function toggleModal() {
            loginModal.classList.toggle('hidden');
            overlay.classList.toggle('hidden');
        }

        loginButton.addEventListener('click', toggleModal);
        loginButton2.addEventListener('click', toggleModal);
        closeBtn.addEventListener('click', toggleModal);
        overlay.addEventListener('click', toggleModal);
    });





    //sidebar
    const sidebar = document.getElementById('sidebar');
    const toggleButton = document.getElementById('toggleSidebar');
    const main = document.querySelector('main');
    const mobileFooter = document.querySelector('mobile-footer');
   
    toggleButton.addEventListener('click', () => {
        console.log("toggled");
        //if hamburger clicked in desktop mode, close sidebar.
        if (window.innerWidth >= 1000) {
            sidebar.classList.toggle('closed');
            main.classList.toggle('sidebar-closed');
        } else {
            //otherwise open it
            sidebar.classList.toggle('open');

        }        
    });

    // Check the screen size using media query
    function checkScreenSize() {
        if (window.matchMedia("(max-width: 1000px)").matches) {                                    
            
            // Execute your JavaScript code for mobile devices
            console.log("Mobile mode detected");

            toggleButton.onclick = function () {
                sidebar.classList.toggle("mobile-sidebar");
            };

        } else {
            // Execute your JavaScript code for non-mobile devices
            console.log("Non-mobile mode detected");
        }
    }

    // Call the function when the page loads
    window.onload = checkScreenSize;

    // Also call the function when the window is resized
    window.addEventListener("resize", checkScreenSize);
</script>

<!-- create account -->
<script>
    // Function to create a GUID
    function createGuid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            const r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    // Function to get a cookie by name
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Function to set a cookie
    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function sendGuidToServer(guid) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/User/CreateFreeAccount", true); // Adjust endpoint as necessary
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log("Account created successfully.");
                } else {
                    console.error("Error creating account. Status:", xhr.status);
                    console.error("Response:", xhr.responseText);
                }
            }
        };
        xhr.onerror = function () {
            console.error("Network error occurred");
        };
        xhr.send(JSON.stringify({ guid: guid }));
    }

    // Main logic: check cookie, create if not exists, send GUID to server
    (function () {
        const cookieName = "userGuid";
        let userGuid = getCookie(cookieName);

        if (!userGuid) {
            // Cookie not found, create a new GUID
            userGuid = createGuid();
            setCookie(cookieName, userGuid, 365); // Store for 1 year
            console.log("New GUID created and stored in cookie:", userGuid);

            // Send the GUID to the server to create a basic account
            sendGuidToServer(userGuid);
        } else {
            console.log("User GUID already exists:", userGuid);
        }
    })();
</script>