@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> PornAddict.io</title>
    <link rel="icon" href="/img/logop.png" type="image/icon type">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VRhfo.UI.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/8b1653d39b.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        body{
            overflow-x: hidden;
        }
        .username-txt{
            color: deepskyblue;
            font-weight: 600;
            font-size: larger;
            margin-bottom: 20px;


        }
        .username-txt:hover{
            cursor: pointer;
            color: #0098cb;
        }
        .custom-navbar {
            background-color: #191919;
        }


        .search-form{
            max-width: 600px;
            margin-left: 20px;
        }
        .navbar-nav {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 0;
        }

            .navbar-nav .search {
                flex-grow: 1;
                margin-left: 20px;
                margin-right: 20px;
            }

            .navbar-nav .nav-link {
                margin-left: auto;
            }

        /* change button color to pink and search box width */
        .btn-outline-primary {
            color: #ff69b4;
            border-color: #ff69b4;
        }

            .btn-outline-primary:hover {
                background-color: #ff69b4;
                color: white;
                border: hidden;
            }

        .form-control {
            width: 400px; /* change this as per your requirement */
        }
        /* reduce space between links */
        .navbar-nav .nav-item {
            margin-left: 10px; /* change this as per your requirement */
        }

        .nav-item .search {
            max-width: 50%;
            margin: 50% auto;
        }

        .custom-search {
            position: relative;
            width: 100%;
            background-color: black;
            border: 1px solid hotpink;
            padding: 8px 20px;
        }

        .join-now {
            position: relative;
            top: 3px;
            color: black !important;
            font-weight: bold;
            border-radius: 4px;
            width: 110px;
            text-align: center;
            height: 34px;
            background-image: linear-gradient(to right, lightblue, #FF2969);
        }

            .join-now:hover {
                background-image: linear-gradient(to right, rgb(223, 247, 255), rgb(253, 112, 154)) !important;
                color: rgb(50, 50, 50) !important;
            }

        .login {
            border-radius: 4px;
            border: 1px solid pink;
            background-color: #3F2D39;
            margin-right: 10px;
            color: #EB7FCB;
            width: 85px;
            text-align: center;
            height: 40px;
        }

            .login:hover {
                background-color: rgb(218, 110, 178, .8);
            }

        .center {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        .buttons {
            display: flex;
            margin-right: 10px;
            margin-top: 5px;
        }

        .search {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 0;
        }

        .cust {
            border: 1px solid grey;
        }

        .no-hands {
            position: relative;
            top: 10px;
            font-family: 'Sans Serif Collection';
        }

        .container {
            margin: 0; /* Remove container margin */
            max-width: 100%; /* Ensure container takes up full width */
            margin-top: 16px;
            padding: 0;
        }

        /* Media query for iPhone 12 screen */
        .custom-search:focus{
            outline: none !important;
            box-shadow: none !important;
            border-color: hotpink !important;
            background-color: black;
            color: white !important;
        }

        .lik-box {
            width: 100%; /* Device width */
            height: 40px !important; /* Desired height */
            background-color: #222 !important; /* Light grey */
            /* Modern styles */
            margin-top: 0px !important;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
            
            display: flex; /* Enable proper link arrangement */
            align-items: center; /* Vertically center links */
            flex-wrap: nowrap;
            padding-left: 70px;
            position: relative;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .sub-link-item{
            color: white !important;
            margin-left: 8px;
            white-space: nowrap; /* Prevent text wrapping */
            overflow: hidden; /* Hide text if it exceeds the container */
            text-overflow: ellipsis;
            font-size: large;
            background-color: #222;
            padding: 10px;
            border-radius: 3px;
        }

        .sub-link-item:hover{
            color: rgba(152, 152, 152, 0.75) !important;
        }

        .link-box{
            margin-left: 25px;
        }

        .input-group {
            min-width: 120px;
        }

        <!-- TOGGLE BUTTON-->
        @@media (max-width: 767px) {
            .sub-link-item {
                font-size: 14px; /* Reduce font size for smaller screens */
                margin-left: 20px; /* Reduce spacing between links */
            }

            .lik-box{
                margin: 0 !important;
                padding: 0 !important;
            }

            .page-title{
                display: none;
            }
            
        }

        @@media (max-width: 715px) {
            .sub-link-item {
                font-size: 12px; /* Further reduce font size for smaller screens */
                margin-left: 10px; /* Further reduce spacing between links */
            }

            .lik-box {
                margin: 0 !important;
                padding: 0 !important;
            }

            .page-title {
                display: none;
            }
            .link-box{
                padding: 0;
                margin: 0;
            }

            .container {
                margin-top: 10px;
            }

            .custom-navbar{
                height: 38px;
            }
            .navbar-brand{
                margin-left: 10px !important;
            }

            .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }

            .navbar-nav {
                flex-direction: row;
            }

            .navbar-brand {
                margin-right: auto;
            }
            .search{
                display: none;
            }
            .site-logo{
                width: 100px; height: 20px;
                margin-top: 0;
                margin-left: -20px;
            }

            .join-now{
                width: 100px;
                height: 30px;
                padding: 5px 0px !important;
                margin-top: -10px;
            }
            .login{
                display: none;
            }

            .nav-link{
                padding: 0;
            }
            .goggles{
                display: none;
            }
        }
            .goggles{
                margin-top: 10px;
            }
            .searchbar{
                width: 100%;
            }
            @@media (max-width: 1001px){
                .navbar-nav{
                    height: 40px !important;
                }
                .searchbar{
                    margin: 0;
                    padding: 0;
                    margin-top: -10px;
                    margin-bottom: 5px !important;
                    min-width: 100px;
                }
            }
            .right{
                    margin-left: 110px;
            }
            .right-lnk{
            color: hotpink !important;
            font-weight: 700;
            text-decoration:overline;
            letter-spacing: 2px;
        }
        .right-lnk:hover{
            color: #e058bb !important;
        }
        .welcum{
            width: 180px;
            white-space: nowrap;

        }

        



        .dropdown  {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #111;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 999;
            border-radius: 10px;
            padding: 0px !important;
            font-size: large;
            margin-left: -80px;
            -moz-box-shadow: 0 0 3px #ccc;
            -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;

        }

            .dropdown-content a {
                color: white;
                padding: 15px 5px 10px 12px;
                text-decoration: none;
                display: block;
                transition: background-color 0.4s ease;
                border-bottom: 1px solid #222;
                z-index: 999;

            }

                .dropdown-content a:hover {
                    background-color: #222;
                    color: white !important;
                    border-radius: 10px 10px 10px 10px;
                    transform: scale(1);
                    z-index: 999;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        .forgot{
            font-size: small;
        }

        <!-- DIAMOND AND LIKE BUTTONS -->
        .o-icon-svgD {
            pointer-events: none;
            display: block;
            width: 100%;
            height: 100%;
        }

        .o-iconD {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            vertical-align: middle;
            fill: grey;
            width: 24px;
            height: 24px;
            margin-top: 1px;
        }
        @@media(max-width: 586px){
            .welcum{
                margin-top: -10px !important;

            }

            .navbar-brand {
                margin-right: 70px !important;
            }

            .dropdown-content {
                margin-top: 14px;
            }
        }

        @@media(max-width: 430px) {
            .navbar-brand {
                margin-right: 120px !important;
            }
        }
        @@media(max-width: 320px)
        {
            .welcum{
                padding: 0 !important;
                margin: 0 !important;
                 margin-top: -8px !important;

            }
            .navbar-nav{
                justify-content: space-between;
            }
            .navbar-brand{
                margin: 0 !important;
                margin-right: 50px !important;
            }
           
        }
</style>
</head>
<body>
    <header>
        <nav class="navbar custom-navbar navbar-expand-sm navbar-toggleable-sm box-shadow ">
          
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-lg-row">
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img class="goggles" src="~/img/goggles-logo-rm.png" height="30" width="50" />
                                    <img class="site-logo" src="/img/goonvr.png" />
                                </a>
                            </li>
                            <li class="nav-item no-hands">
                                <p></p>
                            </li>
                            <li class="nav-item search">
                                <form class="form-inline my-2 my-lg-0 search-form">
                                    <div class="input-group searchbar">
                                        <input type="search" class="form-control rounded custom-search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                        <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </form>
                            </li>
                        @{
                            var username = HttpContextAccessor.HttpContext?.Session.GetString("username");
                        }
                        @if (Authenticate.IsAuthenticated(Context) && username != "")
                        {
                            
                            <div class="buttons">
                                    <!--WELCOME USER-->
                                <ul class="navbar-nav">
                                    <li class="nav-item welcum">
                                        <p class="nav-link text-light dropdown">
                                            <!--diamond logo for premium -->
                                            <span class="diamond">
                                                <svg class="o-iconD o-icon-svgD " viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.06419 14.7411c-.10982-.0012-.21803-.0265-.31697-.0742-.09894-.0477-.18618-.1166-.25554-.2017L.672817 6.15741c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.5931c.06641-.10241.15756-.18643.26503-.2443.10747-.05787.2278-.08772.34985-.08679l8.695.06208c.1236.00146.2448.03333.3531.0928.1083.05946.2002.14469.2677.24815l2.4389 3.70997c.0882.13302.1318.29072.1244.4502-.0075.15947-.0655.31243-.1658.43665L8.63276 14.475c-.06879.0842-.15557.1519-.25396.1981-.0984.0462-.2059.0698-.31461.069v-.001z" fill="#37C4B3"></path>
                                                    <path d="M10.9376 5.80361L8.06418 14.743 5.08044 5.76223l-4.578103-.0335c-.012524-.16198.028313-.3236.116275-.46018L3.00522 1.59306c.06943-.10727.16597-.19429.27984-.25225l2.91083 4.4293 3.60848.02562 2.84773-4.38792c.1124.05814.2109.14485.2838.25423L15.3748 5.373c.09.13702.1332.2995.1231.46313l-4.5603-.0335v.00098z" fill="#53E7D3"></path>
                                                    <path d="M7.96372 1.29253h.00788l2.966 4.51109-5.87486-.04237 2.90098-4.46872z" fill="#B9F5ED"></path>
                                                    <path opacity=".1" d="M2.64359 6.17018s4.98999 8.46842 4.84809 8.29592L.672817 6.15639c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.59307c.06618-.10278.15723-.18719.26472-.24541.10748-.05823.22793-.08837.35016-.08765l1.97077.01379c-.12214-.00082-.24253.02917-.35.08722-.10748.05804-.19858.14226-.26488.24486l-2.3866 3.67647c-.08614.13466-.12731.29319-.11757.45275.00974.15955.06988.3119.17177.43508z" fill="#000"></path>
                                                </svg>
                                            </span> <a asp-controller="User" asp-action="Index"></a>
                                        </p>
                                        <div class="dropdown">
                                            <span class="username-txt">@@@username</span>
                                            <div class="dropdown-content">
                                                <a asp-action="Liked" asp-controller="Home">favorites</a>
                                                <a asp-action="Upload" asp-controller="Video">Upload +</a>
                                                <a asp-action="ManageAccount" asp-controller="User" asp-route-username="@username">Manage Account</a>
                                                <a href="#" class="forgot">Forgot Password</a><!-- this will just be change username and password page, user can select which -->
                                                <a class="forgot" asp-action="Logout" asp-controller="User">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                    @* <li class="nav-item">
                                        <a class="nav-link text-light login" asp-controller="User" asp-action="Logout">Logout</a>
                                    </li> *@
                                </ul>
                            </div>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link text-light join-now" asp-controller="Home" asp-action="JoinNow">Join Now</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light login" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }


            </div>
        </nav>

        <div class="lik-box">
            <div class="link-box">
                <a class="sub-link-item home-link" asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Video" asp-action="Index" asp-route-category="Latest">Latest</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Video" asp-action="Index" asp-route-category="Brainwashing">Brainwashing</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Video" asp-action="Index" asp-route-category="Hypnosis">Hypnosis</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Video" asp-action="Index" asp-route-category="Gooning">Gooning</a>
            </div>
            <div class="link-box">
                <a class="sub-link-item" asp-controller="Video" asp-action="Index" asp-route-category="BinauralBeats">Binaural Beats</a>
            </div>

            <div class="link-box">
                <a class="sub-link-item" asp-controller="Video" asp-action="Index" asp-route-category="HFO">HFO</a>
            </div>

            
        </div>

    </header>
    <div class="container">

        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="  footer text-muted">
        <div class="container center">
            <p class="center"> &copy; 2024 - PornAddict.io - <a asp-area="" asp-controller="Video" asp-action="Index">/Video</a></p>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
