@model VRhfo.UI.ViewModels.ProfileViewModel
@{

}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<style>
  /*   * {
        outline: 1px solid red !important;
    } */
    @@media(max-width: 1000px) {
        .main-pg {
            margin-top: 50px !important;
            margin-left: 10px;
        }

        .card-container {
            justify-self: center;
        }

        .card {
            width: 90px;
            height: 200px;
        }

        .vid-img {
            height: 130px !important;
            width: 70px;
            border-radius: 0px 10px 0px 10px;
        }

        .description {
            padding: 0 !important;
        }

        .titl {
            margin-left: 100px !important;
            margin-top: 20px;
        }
    }

    body {
        /*  background: hsla(0, 0%, 16%, 1);
            background: radial-gradient(circle, hsla(0, 0%, 16%, 1) 3%, hsla(74, 100%, 58%, 1) 99%);
            background: -moz-radial-gradient(circle, hsla(0, 0%, 16%, 1) 3%, hsla(74, 100%, 58%, 1) 99%);
            background: -webkit-radial-gradient(circle, hsla(0, 0%, 16%, 1) 3%, hsla(74, 100%, 58%, 1) 99%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#292929", endColorstr="#CDFF29", GradientType=1 ); */
        background-color: black !important;
        color: var(--primary-color) !important;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .main-pg {
        min-height: 100%;
        width: 100%;
        overflow-x: hidden;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 8px;
        justify-content: center;
        margin-top: 0px;
        padding: 0 0px; /* Added padding to the side   sfsfs */
        gap: 10px;
        margin-right: 90px;
        margin-left: 80px;
                  padding-bottom: 70px !important;
                  position: relative !important;
    }

    .card {
        border-radius: 10px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        border: none;
        /*         background: hsla(213, 77%, 14%, 1);
            background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
            background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
            background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 ); */
        background: linear-gradient(90deg, hsla(3, 7%, 14%, 1) 0%, hsla(0, 7%, 5%, 1) 100%);
        padding: 20px; /* Moved padding from .card-container to here */
        margin-top: 0px;
        padding: 0px; /* Moved padding from .card-container to here */
        width: 100%;
        overflow: hidden;
    }

    .vid-img {
        max-width: 100%; /* Changed from a fixed height to a max-width */
        height: auto; /* Ensures aspect ratio is maintained */
        border-radius: 8px 8px 8px 8px;
        height: 220px;
        padding: 1px;
        min-width: 200px;
        object-fit: cover;
    }

    .card:hover {
        /*       background: hsla(213, 77%, 14%, 1);
            background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
            background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgb(6, 25, 48) 0%, hsla(202, 27%, 45%, 1) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 ); */
        background: linear-gradient(90deg, hsla(3, 7%, 14%, 1) 0%, hsla(0, 7%, 5%, 1) 100%);
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .description {
        background-color: transparent;
        padding: 10px;
        margin: 0;
        font-size: small;
        text-align: left;
        height: 80px;
        color: #ffffff; /* added color white for text visibility on black background */
        height: auto;
    }

    p {
        color: darkgrey;
        margin: 0;
        padding: 0;
    }

    .titl {
        color: var(--primary-color) !important;
        margin-left: 10px;
    }
    #toggleSidebar{
        margin-bottom: -5px !important;
    }
    @@media (max-width: 1170px) {
        .card-container {
            grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
        }
    }

    @@media (max-width: 660px) {
        .card-container {
            margin: 0;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }

        .titl {
            font-size: large;
        }        
    }

    .page-title {
        font-size: x-large;
        width: 500px;
        display: flex;
        color: var(--secondary-color) !important;
    }

    .card-time {
        color: white !important;
        font-weight: 600 !important;
        padding: 4px;
        font-size: 1rem;
        margin-bottom: 3px;
        margin-right: 7px;
        letter-spacing: -1px;
    }

    .card-img {
        position: relative;
    }

    .time-container {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
    }

    .clock-img {
        position: absolute;
        top: 7px;
        left: -15px;
    }

    .d-top-row {
        display: flex;
        justify-content: space-between;
    }

    .d-bottom-row {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .vid-title {
        max-width: 170px;
    }

    .profile-username {
        color: deepskyblue;
        width: 100%;
    }

    .titl {
        color: #444;
        font-weight: 600;
    }

    .likebutton {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    .modal-main {
        max-width: 280px;
        background-color: #333 !important;
        border-radius: 10px;
        top: 200px;
        padding: 20px !important;
        left: auto !important;
    }

    .modal-options {
        display: flex;
        justify-content: space-around;
        margin: 1px;
    }

    .modal-question {
        color: rgb(255, 144, 144) !important;
        font-size: larger;
        font-weight: 700;
    }

    .custom-x {
        padding: 2px 8px;
        margin-right: 4px;
        margin-top: 3px;
        font-size: large;
    }

        .custom-x:hover {
            border-radius: 8px !important;
            background-color: #444 !important;
            transition: ease .5s background-color;
            color: white;
        }

    .modal-yes {
        padding: 10px !important;
        border-radius: 10px;
        width: 100%;
    }

    .modal-no {
        padding: 10px !important;
        border-radius: 10px;
        width: 100%;
    }

    .modal-yes:hover {
        background-color: #444;
        color: white;
    }

    .modal-no:hover {
        background-color: #444;
        color: white;
    }

    @@media(max-width: 426px) {
        .modal-main {
            margin-left: 60px !important;
        }
    }

    @@media(max-width: 360px) {
        .modal-main {
            margin-left: 30px !important;
            padding: 14px 0px !important;
        }

        .page-title {
            margin: 0 !important;
        }
    }

    footer {
        display: none !important;
    }

    .black-nav {
        background: #111 !important;
    }

    .pb-3 {
        display: flex;
    }

    #sidebar {
        background: #111;
        margin-top: -5px !important;
    }

    .cat-card{
        padding: 10px;
        background-color: #888;
        margin: 12px;
        border-radius: 10px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px; /* or whatever size you want */
        height: 150px;
        position: relative;
        overflow: hidden;
    }
    .cat-card:hover .card-overlay{
            background-color: rgba(10, 10, 10, 0.4) !important;
        }

    .cat-img{
        z-index: 1;
        width: 300px; 
        height: 200px;
    }
    .cat-card-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ddd;
        font-size: x-large;
        font-weight: 600 !important;
        font-family: Gadugi;
        letter-spacing: .2rem;
        z-index: 9;
    }
    .card-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* gray/dark overlay */
        z-index: 1;
    }

    #sidebar{
        background-color: black;
    }
    .all-cats{
        color: var(--accent-color) !important;
    }


    @@media(max-width: 500px){
        .mobile-sidebar{
            background: black !important;
        }
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="main-pg">
    <div class="page-title">
        <p class="titl all-cats">All Categories <img src="~/img/Yd60cw01.svg" height="50px" width="40px" /></p>
    </div>
    <div class="card-container">

                  
                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="Gooning">
                        <img class="cat-img" src="~/img/ang.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">Gooning</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="Brainwashing">
                        <img class="cat-img" src="~/img/nicole.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">Brainwashing</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="HFO">
                        <img class="cat-img" src="~/img/reily.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">HFO</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="Gooning">
                        <img class="cat-img" src="~/img/lana.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">Sissy</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="Gooning">
                        <img class="cat-img" src="~/img/ang.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">Gooning</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="Brainwashing">
                        <img class="cat-img" src="~/img/nicole.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">Brainwashing</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="HFO">
                        <img class="cat-img" src="~/img/reily.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">HFO</p>
                    </a>
                </div>

                <div class="cat-card">
                    <a asp-action="Index" asp-route-category="Gooning">
                        <img class="cat-img" src="~/img/lana.jpg" />
                        <div class="card-overlay"></div>

                        <p class="cat-card-title">Sissy</p>
                    </a>
                </div>  
    </div>
</div>
 

<style>
    
</style>