@{
    ViewData["Title"] = "VR HFO: ";
}

<div class="text-center">
    <h1 class="display-4 main-text">Erotic Hypnosis 
        <br />In a whole new way.</h1>
    <p>Coming to all VR devices October, 2024</p>
</div>

<style>
    body{
        background: #ffff02;
        color: black;
        font-weight: 600;
        
    }
</style>