@page
@{
    Layout = "";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
<style>
    *{
           box-sizing: border-box;
    }

    .hover-text:hover {
        display: block;
    }
    .hover-text {
        display: block;
        visibility: hidden;
        position: absolute;
        bottom: 20px;
        left: 0px;  
        color: #fff;
        padding: 10px 0px;
        border-radius: 5px;
        font-size: 16px;
        transition: left 0.8s ease;  
        
    }

    .card:hover .hover-text {
        display: block;
        left: 10px;
        visibility: visible;
    }

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(228, 0, 58, 0.5); /* Transparent red overlay with 50% opacity */

        opacity: 0; /* Initially transparent */
        transition: opacity 0.3s ease; /* Smooth transition */
        border-radius: 10px 10px 0 0; /* Match card's border-radius */
    }

    .card:hover .hover-overlay {
        opacity: 1; /* Show overlay on hover */
    }
    .card:hover{
        cursor: pointer;
    }
   

    @@media (max-width: 760px) {
        .main-product-cards {
            flex-direction: column; /* Change to column layout for smaller screens */
            align-items: center; /* Center-align cards in column layout */
            width: 700px !important;
        }

        .card {
            width: 100% !important  ; /* Make cards full width with some spacing */
            margin-bottom: 0px !important; /* Reduce bottom margin for spacing */
            margin-top: 0px !important;
            max-height: 120px;
            height: 90px !important; 
            min-width: 200px !important;
        }

        .img-container{
            display: none;
        }

        .subscription-content{
            width: 100%;

        }

        .main-page{
            margin-top: 30px;
        }
    }

    
    @@media (max-width: 1000px)
    {
        .top-3-rows{
            margin-top: 350px !important;
        }
    }

    @@media (max-width: 960px) {
        .top-3-rows {
            margin-top: 380px !important;
        }
    }

    @@media (max-width: 900px) {
        .top-3-rows {
            margin-top: 360px !important;
        }
    }

    @@media (max-width: 878px) {
        .top-3-rows {
            margin-top: 460px !important;
        }
    }

    @@media (max-width: 780px) {
        .top-3-rows {
            margin-top: 470px !important;
        }
    }

    @@media (max-width: 473px) {
        .top-3-rows {
            margin-top: 670px !important;
        }
    }

    @@media (max-width: 401px) {
        .top-3-rows {
            margin-top: 870px !important;
        }
    }

    @@media (max-width: 391px) {
        .top-3-rows {
            margin-top: 770px !important;
        }
    }
    .bottom-info-container {
        flex: 1;
    }

    .top-3-rows {
        flex-direction: column;
        margin-top: 280px;
    }

    .choose-plan {
        margin-top: 10px;
        font-family: "Raleway", sans-serif !important;
        font-size: 32px;
        font-weight: 700 !important;
        margin-bottom: 5px;
        background-image: linear-gradient(to right,#B347FF, #FF2969);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sit-logo {
        margin-top: 20px;

    }

    body {
        background-color: #222;
        text-align: center;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
    }

    h2 {
        color: black;
    }

    .main-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 25px !important;
        height: 100vh; /* Keep the container at full viewport height */
    }

    .top-3-rows {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px !important;
    }

    .main-product-cards {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 20px; /* Initial gap between cards */
         margin: 0 auto; /* Center-align cards */
        max-width: 100%; /* Make the container take up the full available width */
    }

    .card {
        width: 300px; /* Set width of each card */
        background-color: white;
        color: black;
        display: flex;
        border-radius: 10px;
        margin-bottom: 20px; /* Add bottom margin to each card */
        display: flex; 
        flex-direction: column;
        position: relative;
    }
 

        .card img {
            width: 100%;
             border-radius: 10px 10px 0 0;
             background-color: #333;
             max-height: 200px;
             height: 100%;
            object-fit: cover !important;
        }

        .img-container{
            height: 180px;
            position: relative;
        }

    suscription_features li span {
        margin-left: -0.4em;
    }

    .subscription-content h2 {
        margin-left: 20px !important;
        font-size: xx-large;
    }
</style>

<div class="main-page step">

    <!--TOP 3 ITEMS-->
    <div class="top-3-rows">
        <a asp-action="Index" asp-controller="Home"><img src="~/img/goonvr.png" height="45" width="250" class="sit-logo" /> </a>
        <p class="choose-plan">Choose Your Plan</p>
        <div class="main-features">
            <div class="main_feature">
                <div class="feature-top-text">
                    900+ Studios
                </div>
                <div class="feature-bottom-text">
                    8k and 4k video
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    Exclusive Videos
                </div>
                <div class="feature-bottom-text">
                    2+ Updates per Week
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    500+  
                </div>
                <div class="feature-bottom-text">
                    The Best VR Pornstars
                </div>
            </div>
        </div>
    </div>

    <!--SUBSCRIPTION CARDS CONTAINER-->
    <div class="main-product-cards">
       
        <!-- CARD 1 -->
        <div class="card" onclick="toggleContinueButton(this)">
            <div class="img-container">
                <img src="~/img/one-month.png" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->

@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@            </div>
            <div class="subscription-content">
                <div class="discount">
                    37% off
                </div>
                <h2>Monthly</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>
                <div class="price">
                    <div class="old-price">
                        $29.95
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$19.95</h2><span class="sub-price">/month</span>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <button class="continue-button">Continue</button>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="card" onclick="toggleContinueButton(this)">
            <div class="img-container">
                <img src="~/img/3mon.jpg" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->

@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@            </div>
            <div class="subscription-content">
                <div class="discount">
                    37% off
                </div>
                <h2>3 Months</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>

                <div class="price">
                    <div class="old-price">
                        $54.95
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$11.45</h2><span class="sub-price">/month</span>
                    </div>
                </div>
            </div>
            <div class="button-continue">
             <button class="continue-button">Continue</button>
            </div>           
        </div>

        <!-- CARD 3 -->
        <div class="card" onclick="toggleContinueButton(this)">
            <div class="img-container">
                <img src="~/img/jasmine-rain-1.jpg" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->
@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@
            </div>
            <div class="subscription-content">
                <div class="discount">
                    35% off
                </div>
                <h2>Yearly</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>
                <div class="price">
                    <div class="old-price">
                        $129.95
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$6.95</h2><span class="sub-price">/month</span>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <button class="continue-button">Continue</button>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="card" onclick="toggleContinueButton(this)">
            <div class="img-container">
                <img src="~/img/yearly-img.jpg" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->
@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@
            </div>
            <div class="subscription-content">
                <div class="discount">
                    40% off
                </div>
                <h2>Lifetime</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>
                <div class="price">
                    <div class="old-price">
                        $499
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$299</h2>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <div class="continue-button">
                    Continue </div>
            </div>
        </div>        
    </div>

    <div class="bottom-info-container">
        <div class="bottom-container">
            <h2>ALL PLANS INCLUDE</h2>
            <div class="features-bottom-container">
                <div class="feature-bottom">
                    <img src="~/img/star.png" class="sec-png" />
                    <h3> Leading Content Producers</h3>
                </div>
                <div class="feature-bottom">
                    <img src="~/img/vr.png" class="sec-png" />
                    <h3>Works with any VR device</h3>
                </div>
                <div class="feature-bottom">
                    <img class="sec-png" src="~/img/security.png" />
                    <h3>Safe, secure and discrete billing</h3>
                </div>
                <div class="feature-bottom">
                    <img src="~/img/cancel.png" class="sec-png" />
                    <h3>Cancel anytime</h3>
                </div>
            </div>
        </div>
        <footer> <small>&copy; Copyright GoonVRR LLC, VirtualLust LLC</small> </footer>
    </div>

</div>
 

<div class="main-page step-2 ">aifdidgnagdi</div>

<style>
     

     
    footer{
        color: black;
        font-size: 18px;
        font-weight: 600 !important;
    }
    .step-2{
        display: none;
    }
    .sec-png{
        height: 50px;
        width: 50px;
        border: 0;
        background-color: #333;
        border-radius: 5px;
        padding: 10px;


    }
    .bottom-info-container{
         width: 100% !important;
 
        color: white !important;
        font-size: small !important;
        margin: 50px 0;
        background-color: #444;
    }

    .features-bottom-container{
        display: flex;
        justify-content: center; /* Align items horizontally at the center */
        gap: 20px; /* Add some gap between each feature */
        flex-wrap: wrap; /* Allow features to wrap to the next line if needed */
    }
 
    .feature-bottom h3{
        font-weight: 300 !important;
        color: #fff !important;
        text-align: center;
         flex: 1 1 0px;
         max-width: 180px;
    }

    .feature-bottom{
        margin: 20px;
    }
    .bottom-container h2{
        color: white !important;
        font-weight: 500 !important;
    }
    .continue-button:hover{
        background-color: black;
        cursor: pointer;
    }  
    .continue-button{
        position: relative;
        background-color: #e4003a;
        min-width: 100%;
        height: 50px !important;
        display: flex; /* Ensure button takes up full width */
        justify-content: center; /* Center button content horizontally */
        align-items: center; /* Center button content vertically */
        top: 18px;
        color: white;
        transition: background-color 0.4s ease;
        font-size: x-large;
        border-radius: 0px 0px 10px 10px;
        border: none;
    }
    .button-continue {
        position: absolute;
        display: none; /* Initially hide the button */
        width: 100%; /* Set width to match card container */
        bottom: -18px;
      
    }

    .offer-num{
        font-size: xx-large !important;
        font-weight: 900 !important;
        font-family: Raleway', Arial, sans-serif;
    }
    .sub-price{
        position: relative;
        top: 30px;
        left: 5px;
    }

    .old-price{
        position: relative;
        left: 20px;
        margin-bottom: -20px;
    }
    .price .old-price {
        color: #777;
        font-size: 18px;
        text-decoration: line-through;
    }
    .offer-price{
        display: flex;    
    }


    .subscription-content{
        text-align: left !important;
    }
    .subscription-content .discount {
        padding: 2px 10px;
        /* background-color: #f7b004; */
        color: #000;
        font-weight: 900;
        overflow: hidden;
        background: #ffc600;
        z-index: 0;
        display: inline-block;
        border-radius: 3px;
        position: relative;
        top: -10px;
        font-size: 18px;
        font-family: 'Raleway';
        font-weight: 700;
        -webkit-font-feature-settings: "lnum";
        -moz-font-feature-settings: "lnum";
        font-feature-settings: "lnum";
        letter-spacing: -1px;
        position: absolute;
        left: 15px; /* Adjust the left position as needed */
        top: 168px;
    }


    .main-features{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 40px;
        position: relative;
        
    }

    .main_feature{
        text-align: center;
        background: #333 !important;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 0 5px;
    }

        .main_feature .feature-top-text {
            font-weight: 800 !important;
            font-size: 24px;
            margin-bottom: 5px;
        }
        .hidden{
            display: none;
        }

        .selected{
        transform: scale(1.07);
    }
</style>

<script>

        function toggleContinueButton(card) {
            // Remove the "Continue" button from all cards
            var allContinueButtons = document.querySelectorAll('.button-continue');
            allContinueButtons.forEach(function (button) {
                button.style.display = 'none';
            });

            // Remove the overlay from all cards
            var allOverlays = document.querySelectorAll('.hover-overlay');
            allOverlays.forEach(function (overlay) {
                overlay.style.opacity = '0';
            });



                // Add the "Continue" button to the clicked card
                var continueButton = card.querySelector('.button-continue');
                if (continueButton) {
                    continueButton.style.display = 'flex';
                }

                // Keep the overlay visible for the clicked card
                var overlay = card.querySelector('.hover-overlay');
                if (overlay) {
                    overlay.style.opacity = '1';
                }

        // Remove the "selected" class from all cards
        var allCards = document.querySelectorAll('.card');
        allCards.forEach(function (card) {
            card.classList.remove('selected');
        });
            card.classList.add("selected");
        }


    // Event listener for the continue button
    document.addEventListener('DOMContentLoaded', function () {
        var continueButtons = document.querySelectorAll('.continue-button');
        continueButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var pages = document.querySelectorAll('.main-product-cards');
                var features = document.querySelectorAll('.main-features');
                pages.forEach(function (page) {
                    page.classList.add('hidden');
                });
                features.forEach(function (feature) {
                    feature.classList.add('hidden');
                })
            });
        });
    });
</script>