
@{
    Layout = "";
}
@model VRhfo.BL.Models.User
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

 <style>
    /*ScrollBar*/
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #222;
        border-radius: 20px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #333;
        }

    :root { 
        --text-color: #000;
        --background-color: #000;
        --primary-color: #d4ff00;
        --primary-color-hover: #afd200;
        --secondary-color: #262727;
        --accent-color: #97a7b3;
    }
 
    a{
        color: white;
        text-decoration: none;
    }
    .main-page{
        margin: 0 !important; 
        padding: 0 !important;
    }

    .white {
        color: #fff;
    }

    .rotate-right {
        display: inline-block; /* Ensures the span takes up only as much space as the letter */
        transform: rotate(30deg); /* Rotate the element by 45 degrees */
        margin-left: 3px;
        margin-right: -2px;
    }

    .rotate-left {
        display: inline-block; /* Ensures the span takes up only as much space as the letter */
        transform: rotate(340deg); /* Rotate the element by 45 degrees */
        margin-right: -1px;
    }

    .site-name-logo {
        color: var(--primary-color) !important;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3.8rem;
        letter-spacing: -7px;
        padding: 0 !important;
        margin: 0 !important;
    }
    body{
        background-image: url('~../../img/greytexture.jpg') !important;
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-features {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 40px;
        position: relative;
    }

    .main_feature {
        text-align: center;
        background: #333 !important;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 0 5px;
    }

        .main_feature .feature-top-text {
            font-weight: 800 !important;
            font-size: 24px;
            margin-bottom: 5px;
        }

    .choose-plan {
        margin-top: 10px;
        font-family: "Raleway", sans-serif !important;
        font-size: 32px;
        font-weight: 700 !important;
        margin-bottom: 5px;
        /* background-image: linear-gradient(to right,#B347FF, #FF2969);*/
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #666, #97a7b3);
    }

    .main-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top-3-rows {
        display: flex;
        flex-direction: column;
        align-items: center;
                margin-top: -40px !important;

    }

    body {
        text-align: center;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
    }

    .hidden{
        display: none !important;
    }
</style>
<div class="main-page ">

    <!--TOP 3 ITEMS-->
    <div class="top-3-rows">
        <a asp-area="" asp-controller="Video" asp-action="Index" asp-route-category="Latest">
            <p class="site-name-logo"><span class="white">brain</span>b<span class="rotate-left">r</span><span class="rotate-right">e</span>aker<span class="white">.tv</span></p>
        </a>
        <p class="choose-plan">Choose Your Plan</p>
        <div class="main-features">
            <div class="main_feature">
                <div class="feature-top-text">
                    900+ Studios
                </div>
                <div class="feature-bottom-text">
                    8k and 4k video
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    Exclusive Videos
                </div>
                <div class="feature-bottom-text">
                    2+ Updates per Week
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    500+  
                </div>
                <div class="feature-bottom-text">
                    The Best VR Pornstars
                </div>
            </div>
        </div>
    </div>


    <!--PRODUCT CARDDS-->
<div class="cards" >
    <div class="card monthly" id="card-1"  onclick="cardClicked(this)">
        <img class="model-img" src="~../../img/angelabb.png"></img>
        <div class="card-content">
            <h1>Monthly</h1>
                <h3 style="color:var(--accent-color)">The Gooner</h3>
              <p>Unlimited access</p>
                <p>Cancel anytime</p>           
         </div>
         <div class="pricing blur">
               <p class="strikedTxt">$2.00</p>
                <div class="bottom-price">
                    <p class="cents">$0.27 / day</p>
                </div>
            <a href="#"  class="join-now-btn-small">Join Now</a>           

          </div>
    </div>
    <div class="card yearly" id="card-2"  onclick="cardClicked(this)">
                <img class="model-img" src="~../../img/alexisbg.png"></img>
        <div class="card-content">
            <h1>Yearly</h1>
            <h3 style="color:var(--accent-color)">The Porn Addict</h3>
                  <p>Unlimited access</p>
                <p>Cancel anytime</p>
        </div>
        <div class="pricing blur">
               <p class="strikedTxt">$2.00</p>
                <div class="bottom-price">
                    <p class="cents">$0.67 / day</p>
                </div>
                        <a href="#"  class="join-now-btn-small">Join Now</a>           

          </div>
    </div>

    <!--CARD 3-->
     <div class="card yearly" id="card-3"  onclick="cardClicked(this)">
             <img class="model-img lana" src="~../../img/lana12.png"></img>
            <div class="card-content">
                <h1>Lifetime</h1>
                    <h3 style="color:var(--accent-color)">The Pornosexual</h3>
                    <p>Unlimited access</p>
                    <p>100 years access</p>
            </div>
            <div class="pricing blur">
                    <p class="strikedTxt">$1000</p>
                    <div class="bottom-price">
                        <p class="cents">$400</p>
                    </div>
                    <a href="#" class="join-now-btn-small">Join Now</a>          
             </div>
       </div>
 </div> 




    <!--step 2-->
    <div class="step-2-container">
           <div class="second-card">
                    <img class="model-img second-card-image" src="~../../img/lana12.png"></img>

                    <div class="card-content">
                        <div class="second-card-plan-type">ss</div>
                        <div class="discount strikedTxt">ss</div>
                        <div class="offer-num cents">ss</div>
                    </div>
                    <div class="back-btn">
                        
                        <h3>< Back</h3>
                    </div>

            </div>
            <div class="create-account">
                <h1>Lets create an account</h1>
            </div>

    </div>

</div>

 
<style>
    .backk{
        
    }
    .back-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -50px !important;
        display: flex;

    } .back-btn:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .second-card-image{
        position: absolute;
        right: 0;
        height: 100%;
        z-index: -1;
    }
    .create-account{
        height: 100%;
        width: 100%;
        max-width: 600px;
        max-height: 400px;
    }
    .create-account h1{
        color: white;
    }
    .step-2-container{
        display: none; 
        position: relative;
        margin: 0px 10px;
        width: 100vw;
        height: 50vh;
        justify-content: center;
    }
    .second-card{
        z-index: 99999;
        text-align: left;
       color: white !important;
       outline: 1px solid #111;
       position: relative;
       margin: 10px;
       width: 90%;
       max-width: 400px;
       height: auto;
          background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 31, 31, 0.37 );
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );   
    }
    
    .cents{
        font-size: large;
        font-weight: 700;
    }
    .bottom-price{
        position: absolute;
        bottom: -12px;
        left: 10;
    }
    .strikedTxt{
        text-decoration:line-through;
    }
   .join-now-btn-small{
        color: black !important;
        font-weight: 700;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        background-color: var(--primary-color); 
        text-decoration: none;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 8px 11px;
        margin-right: 10px;
    }  .join-now-btn-small:hover{
        background-color: rgb(176, 212, 0);
        transition-duration: 200ms;
    }
    .model-img{
        position: absolute;
        right: 0;
        height: 100%;
        z-index: -1;
    }
     .lana{
        height: 96% !important;
        bottom: 0;
    }
    .card-content{
        padding: 10px;
    }
    .pricing{
       background: rgba( 55, 55, 55, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 31, 31, 0.37 );
        backdrop-filter: blur( 17px );
        -webkit-backdrop-filter: blur( 17px );
        border-radius: 0 0 10px 10px; 
        

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 !important;
        height: 60px ;
        display: flex;
    }
    .main-page{
        height: 100vh;
    }
    body{
        margin: 0 !important;
        overflow-x: hidden;
        padding: 0 !important;
    }
    .cards{
        display: flex;
        width: 90vw;
        justify-content: center;
        height: 40vh;
    }
   .card{
       text-align: left;
       color: white !important;
       outline: 1px solid #111;
       position: relative;
       margin: 10px;
       width: 90%;
       max-width: 300px;
       height: auto;
          background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 31, 31, 0.37 );
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
   }
   .card:hover{
       outline-color: white;
       background: radial-gradient(rgba(212, 230, 100, 0.53), rgba(145, 152, 229, 0.00));
   }

   @@media(max-width: 670px){
       .cards{
           margin-top: 10px;
           flex-direction: column;
           align-items: center;
           width: 100vw !important;
       }
       .card{
           max-width: 100% !important;
           height: auto;
           margin: 6px !important;
           margin-top: 0px;
           font-size: x-small !important;
       }
       .main_feature{
           font-size: small !important;
       }
       .feature-top-text{
           font-size: medium !important;
       }       
       .top-3-rows{
            margin-top: -80px !important;
       }
       .main-features{
           margin: 0 !important;
           margin-bottom: 80px !important;
       }
       .site-name-logo{
           font-size: 2.4rem !important;
           letter-spacing: -2px !important;
       }
        
       .strikedTxt{
           position: absolute;
           left: auto;
           right: 0 ;
           margin-right: 100px;
       }
       .bottom-price{
           position: absolute;
           left: auto;
           right: 0 ;
           margin-right: 100px;
       }
      
       .step-2-container{
           flex-direction: column !important;
           align-items: center;
           margin-bottom: 100px;
       }
       .second-card{
           height: 140px !important;
       }
       
   }

</style>
 


<script src="~/js/JoinNow.js" defer></script>
