@page
@{
    Layout = "";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="~/css/JoinNow.css" />

 <style>
    
 </style>
<div class="main-page step">

    <!--TOP 3 ITEMS-->
    <div class="top-3-rows">
        <a asp-action="Index" asp-controller="Home"><img src="~/img/vrhfo.com-logo-1-removebg-preview.png" height="45" width="250" class="sit-logo" /> </a>
        <p class="choose-plan">Choose Your Plan</p>
        <div class="main-features">
            <div class="main_feature">
                <div class="feature-top-text">
                    900+ Studios
                </div>
                <div class="feature-bottom-text">
                    8k and 4k video
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    Exclusive Videos
                </div>
                <div class="feature-bottom-text">
                    2+ Updates per Week
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    500+  
                </div>
                <div class="feature-bottom-text">
                    The Best VR Pornstars
                </div>
            </div>
        </div>
    </div>

    <div class="step-2 mh">
        <!--this container is flex column-->
        <div class="page-container">
                    <div class="top-items">
                        <h2 class="top-text"><img class="secure-logo" src="~/img/shield.png" height="25px" width="25px;"/>Secure and Discrete Payment</h2>
                        <!--this container is flex row-->
                        <div class="payment-options">
                            <h2>Credit Card</h2>
                            <h2>Crypto</h2>
                            <h2>Paypal</h2>
                        </div>
                    </div>
                    <!-- this container is flex row-->
                    <div class="container-2"> 
                            <!-- CARD  SELECTED  PAGE 2-->
                            <div class="card second-card" id="card-selected">
                                <div class="img-container">
                                    <img src="~/img/one-month.png" class="second-card-image" />
                                    <div class="hover-overlay"></div> <!-- Add this line for overlay -->
                                    @*                 <span class="hover-text">The Best Gooning Experience</span>
                                    *@
                                </div>
                                <div class="subscription-content">
                                    <div class="discount">
                                        37% off
                                    </div>
                                    <h2 class="second-card-plan-type">Monthly</h2>
                                    <ul class="subscription-features">
                                        <li><span>Unlimited streaming and downloads</span></li>
                                        <li><span>+250 interactive syncs videos</span></li>
                                        <li><span>Foreplay videos</span></li>
                                    </ul>
                                    <div class="price">
                                        <div class="old-price">
                                            $29.95
                                        </div>
                                        <div class="offer-price">
                                            <h2 class="offer-num">$19.95</h2><span class="sub-price">/month</span>
                                        </div>
                                    </div>
                                </div>                                                
                            </div>
                            <!-- END OF CARD-->

                            <!-- this container is flex column-->
                            <div class="join-now-form">
                                <h2>Lets create an account</h2>
                                <input class="join-now-form-txt" type="text" placeholder="Enter your email" required/>
                                <input class="join-now-form-txt" type="text" placeholder="Create a password" required />
                                
                                <div class="newsletter"><input type="checkbox" />
                                    <p>Join the weekly newsletter!  </p>
                                </div>

                                <div class="join-now-button">
                                    <div>Join Now</div>
                                </div>
                                <div class="terms-info">
                                        By submitting this form, you certify that you are 18 years of age or older, and agree to the <a href="#" class="terms-link">Terms-of-Service Agreement</a>
                                </div>
                            </div>
                    </div>
    
              <div class="back" id="back-button">
                  <img src="~/img/arrow-118-24.ico" class="back-arrow" /><p>Change plan</p>
              </div>

              <div class="payment-logo">
                 @*  <img src="#" />
                  <img src="#" />
                  <img src="#" />
                  <img src="#" /> *@
              </div>
              <div class="payment-processor-info">
                  <p>You will be redirected to our trusted payment processor. </p>
              </div>
        </div>
    </div>


    <!--SUBSCRIPTION CARDS CONTAINER-->
    <div class="main-product-cards">
       
        <!-- CARD 1 -->
        <div class="card" id="card-1" onclick="cardClicked(this)">
            <div class="img-container">
                <img src="~/img/one-month.png" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->

@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@            </div>
            <div class="subscription-content">
                <div class="discount">
                    37% off
                </div>
                <h2>Monthly</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>
                <div class="price">
                    <div class="old-price">
                        $29.95
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$19.95</h2><span class="sub-price">/month</span>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <button class="continue-button">Continue <img src="~/img/icons8-arrow-60.png" class="cont-arrow" /></button>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="card" id="card-2" onclick="cardClicked(this)">
            <div class="img-container">
                <img src="~/img/3mon.jpg" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->

@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@            </div>
            <div class="subscription-content">
                <div class="discount">
                    37% off
                </div>
                <h2>3 Months</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>

                <div class="price">
                    <div class="old-price">
                        $54.95
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$11.45</h2><span class="sub-price">/month</span>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <button class="continue-button">Continue <img src="~/img/icons8-arrow-60.png" class="cont-arrow" /></button>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="card" id="card-3" onclick="cardClicked(this)">
            <div class="img-container">
                <img src="~/img/jasmine-rain-1.jpg" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->
@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@
            </div>
            <div class="subscription-content">
                <div class="discount">
                    35% off
                </div>
                <h2>Yearly</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>
                <div class="price">
                    <div class="old-price">
                        $129.95
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$6.95</h2><span class="sub-price">/month</span>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <button class="continue-button">Continue <img src="~/img/icons8-arrow-60.png" class="cont-arrow" /></button>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="card" id="card-4" onclick="cardClicked(this)">
            <div class="img-container">
                <img src="~/img/yearly-img.jpg" />
                <div class="hover-overlay"></div> <!-- Add this line for overlay -->
@*                 <span class="hover-text">The Best Gooning Experience</span>
 *@
            </div>
            <div class="subscription-content">
                <div class="discount">
                    40% off
                </div>
                <h2>Lifetime</h2>
                <ul class="subscription-features">
                    <li><span>Unlimited streaming and downloads</span></li>
                    <li><span>+250 interactive syncs videos</span></li>
                    <li><span>Foreplay videos</span></li>
                </ul>
                <div class="price">
                    <div class="old-price">
                        $499
                    </div>
                    <div class="offer-price">
                        <h2 class="offer-num">$299</h2>
                    </div>
                </div>
            </div>
            <div class="button-continue">
                <button class="continue-button">Continue <img src="~/img/icons8-arrow-60.png" class="cont-arrow" /></button>

            </div>
        </div>        
    </div>

    <div class="bottom-info-container">
        <div class="bottom-container">
            <h2>ALL PLANS INCLUDE</h2>
            <div class="features-bottom-container">
                <div class="feature-bottom">
                    <img src="~/img/star.png" class="sec-png" />
                    <h3> Leading Content Producers</h3>
                </div>
                <div class="feature-bottom">
                    <img src="~/img/vr.png" class="sec-png" />
                    <h3>Works with any VR device</h3>
                </div>
                <div class="feature-bottom">
                    <img class="sec-png" src="~/img/security.png" />
                    <h3>Safe, secure and discrete billing</h3>
                </div>
                <div class="feature-bottom">
                    <img src="~/img/cancel.png" class="sec-png" />
                    <h3>Cancel anytime</h3>
                </div>
            </div>
        </div>
        <footer>
            <div class="payment-logos">
            <img src="~/img/mc_symbol_opt_53_1x.png" class="mast-logo"/>
                <img src="~/img/paypal.png" class="pay-logo"/>
                <img src="~/img/discover-logo-png-pic-5667.png" class="pay-logo" />
                <img src="~/img/Visa_Brandmark_Blue_RGB_2021.png" class="pay-logo" />
            </div>
            <small class="footer-txt">&copy; Copyright GoonVR 2024, Bit Crave LLC</small>

        </footer>
    </div>
    <div id="fixed-button">
        <div class="button-like">Next step -> </div>
    </div>
</div>

 
<style>
    .hidden-2{
        display: none !important; 
    }
    .footer-txt{
        color: #232323 !important;
    }
</style>
 


<script src="~/js/JoinNow.js" defer></script>
