
@{
    Layout = "";
}
@model VRhfo.BL.Models.User
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

 <style>
    /*ScrollBar*/
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #222;
        border-radius: 20px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #333;
        }

    :root { 
        --text-color: #000;
        --background-color: #000;
        --primary-color: #d4ff00;
        --primary-color-hover: #afd200;
        --secondary-color: #262727;
        --accent-color: #97a7b3;
    }
 
    a{
        color: white;
        text-decoration: none;
    }
    .main-page{
        margin: 0 !important; 
        padding: 0 !important;
    }

    .white {
        color: #fff;
    }

    .rotate-right {
        display: inline-block; /* Ensures the span takes up only as much space as the letter */
        transform: rotate(30deg); /* Rotate the element by 45 degrees */
        margin-left: 3px;
        margin-right: -2px;
    }

    .rotate-left {
        display: inline-block; /* Ensures the span takes up only as much space as the letter */
        transform: rotate(340deg); /* Rotate the element by 45 degrees */
        margin-right: -1px;
    }

    .site-name-logo {
        color: var(--primary-color) !important;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem;
        letter-spacing: -2px;
        padding: 0 !important;
        margin: 0 !important;
    }
    body{
        background-image: url('~../../img/greytexture.jpg') !important;
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-features {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 40px;
        position: relative;
    }

    .main_feature {
        text-align: center;
        background: #333 !important;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 0 5px;
    }

        .main_feature .feature-top-text {
            font-weight: 800 !important;
            font-size: 24px;
            margin-bottom: 5px;
        }

    .choose-plan {
        margin-top: 10px;
        font-family: "Raleway", sans-serif !important;
        font-size: 32px;
        font-weight: 700 !important;
        margin-bottom: 5px;
        /* background-image: linear-gradient(to right,#B347FF, #FF2969);*/
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #666, #97a7b3);
    }

    .main-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top-3-rows {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        text-align: center;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
    }


</style>
<div class="main-page ">

    <!--TOP 3 ITEMS-->
    <div class="top-3-rows">
        <a asp-area="" asp-controller="Video" asp-action="Index" asp-route-category="Latest">
            <p class="site-name-logo"><span class="white">brain</span>b<span class="rotate-left">r</span><span class="rotate-right">e</span>aker<span class="white">.tv</span></p>
        </a>
        <p class="choose-plan">Choose Your Plan</p>
        <div class="main-features">
            <div class="main_feature">
                <div class="feature-top-text">
                    900+ Studios
                </div>
                <div class="feature-bottom-text">
                    8k and 4k video
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    Exclusive Videos
                </div>
                <div class="feature-bottom-text">
                    2+ Updates per Week
                </div>
            </div>

            <div class="main_feature">
                <div class="feature-top-text">
                    500+  
                </div>
                <div class="feature-bottom-text">
                    The Best VR Pornstars
                </div>
            </div>
        </div>
    </div>


    <!--PRODUCT CARDDS-->
<div class="cards">
    <div class="card monthly">
        <div class="card-content">
            <h1>Monthly</h1>
            <h3>Unlimited access</h3>
            <h3>Cancel anytime</h3>            
         </div>
         <div class="pricing blur">
                <p>20.00</p>
          </div>
    </div>
    <div class="card yearly">
        <div class="card-content">
            <h1>Yearly</h1>
                <h3>Unlimited access</h3>
                <h3>Cancel anytime</h3>
        </div>
        <div class="pricing blur">
                <p>20.00</p>
          </div>
    </div>

     <div class="card yearly">
        <div class="card-content">
            <h1>Lifetime</h1>
                <h3>Unlimited access</h3>
                <h3>Cancel anytime</h3>
        </div>
        <div class="pricing blur">
                <p>20.00</p>
          </div>
    </div>
</div> 
<div class="spacer"></div>
</div>

 
<style>
    .card-content{
        padding: 10px;
    }
    .pricing{
       background: rgba( 155, 155, 155, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 31, 31, 0.37 );
        backdrop-filter: blur( 17px );
        -webkit-backdrop-filter: blur( 17px );
        border-radius: 0 0 10px 10px; 
        

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 !important;
        height: 60px ;
    }
    .main-page{
        height: 100vh;
    }
    body{
        margin: 0 !important;
        overflow-x: hidden;
        padding: 0 !important;
    }
    .cards{
        display: flex;
        width: 90vw;
        justify-content: center;
        height: 40vh;
    }
   .card{
       text-align: left;
       color: white !important;
       outline: 1px solid grey;
       position: relative;
       margin: 10px;
       width: 90%;
       max-width: 300px;
       height: auto;
          background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 31, 31, 0.37 );
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
   }
   .card:hover{
       cursor: pointer;
       outline-color: white;
   }

   @@media(max-width: 670px){
       .cards{
           flex-direction: column;
           align-items: center;
           width: 100vw !important;
       }
       .card{
           max-width: 100% !important;
           height: auto;
           margin: 6px !important;
           margin-top: 20px;
           font-size: x-small !important;
           padding: 3px !important;
       }
       .main_feature{
           font-size: small !important;
       }
       .feature-top-text{
           font-size: medium !important;
       }
       .top-3-rows{
            margin-top: -40px;
       }
       .main-features{
           margin: 0 !important;
           margin-bottom: 80px !important;
       }
       .site-name-logo{
           font-size: 2.4rem !important;
       }
   }

</style>
 


<script src="~/js/JoinNow.js" defer></script>
