@model VRhfo.BL.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
    body {
        min-height: 100vh;
        margin: 0;
        background: hsla(183, 65%, 63%, 1);
        /* background: linear-gradient(90deg, hsla(183, 65%, 63%, 1) 0%, hsla(238, 67%, 67%, 1) 50%, hsla(296, 91%, 59%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(183, 65%, 63%, 1) 0%, hsla(238, 67%, 67%, 1) 50%, hsla(296, 91%, 59%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(183, 65%, 63%, 1) 0%, hsla(238, 67%, 67%, 1) 50%, hsla(296, 91%, 59%, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#61D8DE", endColorstr="#7478E4", GradientType=1); */
        background: url("/img/logingg.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        background-size: cover;
        background-position: center;
    }

    .login-form {
        background-color: rgba(36, 36, 36, 9);
        padding: 20px;
        border-radius: 14px;
        text-align: center;
        width: 440px;
        height: 500px;
        margin-top: 30px;
    }

        .login-form h1, label {
            margin-bottom: 20px;
            color: White;
        }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper h1{
        font-size: 36ox;
        text-align: center;
    }
    .wrapper .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }
    .input-box input{
        width: 100%; 
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: #fff;
        padding: 20px 45px 20px 20px;
    }
    .input-box input::placeholder{
        color: #fff;
    }
    .input-box i{
        position: absolute;
        right: 20px;
        top: 35%;
        font-size: 20px;
    }
    .wrapper .remember-forgot{
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    }

    .remember-forgot label input{
        accent-color: #fff;
        margin-right: 3px;
    }
    .remember-forgot a{
        color: #fff;
        text-decoration: none;
    }
    .remember-forgot a:hover{
        text-decoration: underline;
    }

    .wrapper .btn-submit{
        width: 100%;
        height: 45px;
        background: #fff;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0,0, .1);
        font-weight: 600;
        color: #333;
    }
    .btn-submit:hover{
        background-color: rgba(237, 237, 237, 0.9);
    }
    .wrapper .join-now-cta{
        font-size: 14.5px;
        text-align: center;
        margin-top: 20px;
    }
    form a{
        color: pink;
    }

    .join-now-cta{
        position: relative;
    }
    .diamondD {
        position: absolute;
        bottom: 22px;
        right: 65px;
        height: 0px !important;
    }

    .o-icon-svgD {
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    .o-iconD {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        vertical-align: middle;
        fill: grey;
        width: 24px;
        height: 24px;
    }
</style>

<div class="wrapper">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form method="post" asp-controller="User" asp-action="Login"  class="login-form">
       
            <h1>Premium Login</h1>
        <div class="input-box">
                <input for="Username" type="text"  placeholder="Enter your username" asp-for="Username" required />
                    <span asp-validation-for="Username"></span>
    
            <i class='bx bxs-user'></i>
        </div>
            <div class="input-box">
                <input for="Password" type="password" asp-for="Password" placeholder="Enter your password" required/>
            <span asp-validation-for="Password"></span>

                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" />Remember me</label>
                <a href="#">Forgot password? </a>
            </div>

            <button type="submit" class="btn-submit">Login</button>
            
            <div class="join-now-cta">
            <p>
                Don't Have an account? 
                <a asp-action="JoinNow" asp-controller="Home">
                    Join Now <span class="diamondD">
                        <svg class="o-iconD o-icon-svgD " viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.06419 14.7411c-.10982-.0012-.21803-.0265-.31697-.0742-.09894-.0477-.18618-.1166-.25554-.2017L.672817 6.15741c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.5931c.06641-.10241.15756-.18643.26503-.2443.10747-.05787.2278-.08772.34985-.08679l8.695.06208c.1236.00146.2448.03333.3531.0928.1083.05946.2002.14469.2677.24815l2.4389 3.70997c.0882.13302.1318.29072.1244.4502-.0075.15947-.0655.31243-.1658.43665L8.63276 14.475c-.06879.0842-.15557.1519-.25396.1981-.0984.0462-.2059.0698-.31461.069v-.001z" fill="#37C4B3"></path>
                            <path d="M10.9376 5.80361L8.06418 14.743 5.08044 5.76223l-4.578103-.0335c-.012524-.16198.028313-.3236.116275-.46018L3.00522 1.59306c.06943-.10727.16597-.19429.27984-.25225l2.91083 4.4293 3.60848.02562 2.84773-4.38792c.1124.05814.2109.14485.2838.25423L15.3748 5.373c.09.13702.1332.2995.1231.46313l-4.5603-.0335v.00098z" fill="#53E7D3"></path>
                            <path d="M7.96372 1.29253h.00788l2.966 4.51109-5.87486-.04237 2.90098-4.46872z" fill="#B9F5ED"></path>
                            <path opacity=".1" d="M2.64359 6.17018s4.98999 8.46842 4.84809 8.29592L.672817 6.15639c-.10166-.1231-.161673-.27526-.171411-.43461-.009738-.15935.0313-.31768.117215-.45224L3.00522 1.59307c.06618-.10278.15723-.18719.26472-.24541.10748-.05823.22793-.08837.35016-.08765l1.97077.01379c-.12214-.00082-.24253.02917-.35.08722-.10748.05804-.19858.14226-.26488.24486l-2.3866 3.67647c-.08614.13466-.12731.29319-.11757.45275.00974.15955.06988.3119.17177.43508z" fill="#000"></path>
                        </svg>
                    </span>
                </a>
            </p>
            </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
