* {
    box-sizing: border-box;
}

.hover-text:hover {
    display: block;
}

.hover-text {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: #fff;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 16px;
    transition: left 0.8s ease;
}

.card:hover .hover-text {
    display: block;
    left: 10px;
    visibility: visible;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 0, 58, 0.5); /* Transparent red overlay with 50% opacity */

    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease; /* Smooth transition */
    border-radius: 10px 10px 0 0; /* Match card's border-radius */
}

.card:hover .hover-overlay {
    opacity: 1; /* Show overlay on hover */
}

.card:hover {
    cursor: pointer;
}




.bottom-info-container {
    flex: 1;
}

.top-3-rows {
    flex-direction: column;
    margin-top: 280px;
}

.choose-plan {
    margin-top: 10px;
    font-family: "Raleway", sans-serif !important;
    font-size: 32px;
    font-weight: 700 !important;
    margin-bottom: 5px;
    background-image: linear-gradient(to right,#B347FF, #FF2969);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sit-logo {
    margin-top: 20px;
}

body {
    background-color: #222;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h2 {
    color: black;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 25px !important;
    height: 100vh; /* Keep the container at full viewport height */
}

.top-3-rows {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}

.main-product-cards {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px; /* Initial gap between cards */
    margin: 0 auto; /* Center-align cards */
    max-width: 100%; /* Make the container take up the full available width */
}

.card {
    width: 300px; /* Set width of each card */
    background-color: white;
    color: black;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px; /* Add bottom margin to each card */
    display: flex;
    flex-direction: column;
    position: relative;
}


    .card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        background-color: #333;
        max-height: 200px;
        height: 100%;
        object-fit: cover !important;
    }

.img-container {
    height: 180px;
    position: relative;
}

suscription_features li span {
    margin-left: -0.4em;
}

.subscription-content h2 {
    margin-left: 20px !important;
    font-size: xx-large;
}


/*Bottom Stuff*/

.payment-logos {
    margin-bottom: 20px;
}

.mast-logo {
    width: 50px;
}

.pay-logo {
    height: 28px;
    width: 90px;
}

.cont-arrow {
    background-color: transparent !important;
    color: white !important;
    width: 24px !important;
    height: 22px !important;
    margin-left: 5px;
}

footer {
    color: black;
    font-size: 18px;
    font-weight: 600 !important;
    padding-bottom: 20px;
}

.step-2 {
    display: none;
}

.sec-png {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}

.bottom-info-container {
    width: 100% !important;
    color: white !important;
    font-size: small !important;
    margin: 50px 0;
    background-color: #444;
}

.features-bottom-container {
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
    gap: 20px; /* Add some gap between each feature */
    flex-wrap: wrap; /* Allow features to wrap to the next line if needed */
}

.feature-bottom h3 {
    font-weight: 300 !important;
    color: #fff !important;
    text-align: center;
    flex: 1 1 0px;
    max-width: 180px;
}

.feature-bottom {
    margin: 20px;
}

.bottom-container h2 {
    color: white !important;
    font-weight: 500 !important;
}

.continue-button:hover {
    background-color: black;
    cursor: pointer;
}

.continue-button {
    position: relative;
    background-color: #e4003a;
    min-width: 100%;
    height: 50px !important;
    display: flex; /* Ensure button takes up full width */
    justify-content: center; /* Center button content horizontally */
    align-items: center; /* Center button content vertically */
    top: 18px;
    color: white;
    transition: background-color 0.4s ease;
    font-size: x-large;
    border-radius: 0px 0px 10px 10px;
    border: none;
}

.button-continue {
    position: absolute;
    display: none; /* Initially hide the button */
    width: 100%; /* Set width to match card container */
    bottom: -18px;
}

.offer-num {
    font-size: xx-large !important;
    font-weight: 900 !important;
    font-family: 'Raleway', Arial, sans-serif;
}

.sub-price {
    position: relative;
    top: 30px;
    left: 5px;
}

.old-price {
    position: relative;
    left: 20px;
    margin-bottom: -20px;
}

.price .old-price {
    color: #777;
    font-size: 18px;
    text-decoration: line-through;
}

.offer-price {
    display: flex;
}


.subscription-content {
    text-align: left !important;
}

    .subscription-content .discount {
        padding: 2px 10px;
        /* background-color: #f7b004; */
        color: #000;
        font-weight: 900;
        overflow: hidden;
        background: #ffc600;
        z-index: 0;
        display: inline-block;
        border-radius: 3px;
        position: relative;
        top: -10px;
        font-size: 18px;
        font-family: 'Raleway';
        font-weight: 700;
        -webkit-font-feature-settings: "lnum";
        -moz-font-feature-settings: "lnum";
        font-feature-settings: "lnum";
        letter-spacing: -1px;
        position: absolute;
        left: 15px; /* Adjust the left position as needed */
        top: 168px;
    }


.main-features {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px;
    position: relative;
}

.main_feature {
    text-align: center;
    background: #333 !important;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
}

    .main_feature .feature-top-text {
        font-weight: 800 !important;
        font-size: 24px;
        margin-bottom: 5px;
    }

.hidden {
    display: none;
}

.selected {
    transform: scale(1.07);
}





/*PAGE TWO CSSS*/
.second-card{
    margin-left: -40px;
}

.page-container{
    display: flex;
    flex-direction: column;
}

.payment-options{
    display: flex;
    justify-content: center;
}

    .payment-options h2 {
        color: white !important;
        font-weight: 400 !important;
        margin: 5px 10px 20px 10px;
        outline: 1px solid white;
        background: transparent;
        padding: 8px 14px;
        transition: background-color 0.5s ease;
    }
        .payment-options h2:hover {
            background-color: #e4003a;
            cursor: pointer;
            outline: 0;
        }
 
.container-2{
    display: flex;
}

.join-now-form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 290px;
}

.newsletter{
    display: flex;
}

.mh{
    min-width: 700px;
}

.button-like{
    display: none;
}

.top-text{
    color: white !important;
    font-weight: 400 !important;
    margin-bottom: 10px;
}
.secure-logo{
    margin-right: 10px;
    margin-top: 10px;
}

.join-now-form h2, p{
    color: white !important;
}

.back{
    display: flex;
    text-align: left;
    margin-top: -20px !important;
    margin-left: -10px;
}
.back p{
    font-size: large;
}

.back-arrow{
    height: 22px !important;
    width: 18px !important;
    margin-top: 18px;
    margin-right: 5px;
}
    .back p:hover{
        text-decoration: underline;
        cursor: pointer;
    }

.join-now-form-txt{
    padding: 15px 10px;
    margin: 10px 2px;
    border-radius: 5px 5px;
    min-width: 145px;

}

.join-now-button {
    background-color: #e4003a;
    padding: 15px 40px;
    margin: 30px 0 5px 0;
    border-radius: 10px 10px;
    color: white !important;
    font-size: x-large;
}
    .join-now-button:hover{
        background-color: black;
        cursor: pointer;
    }

.terms-info{
    color: white !important;
    font-size: smaller;
    word-wrap: wrap;
    width: 100%;

}

.terms-link {
    color: #e4003a;
}

.top-3-rows{
    margin-top: 390px;
    margin-bottom: -16px !important;
}

/*Mobile nEXT button*/
/*#fixed-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

    #fixed-button button {
        background-color: red;
        color: #fff;
        border: none;
 
        font-size: 16px;
        cursor: pointer;
    }

    #fixed-button .button-like {*/ /* Style the new div */
        /*background-color: red;
        color: #fff;
        border: none;
        padding: 20px 0;
        font-size: 16px;
        cursor: pointer;
        width: 100%;*/
        /* Ensure the text appears centered */
        /*text-align: center;
        
    }

    .button-like:hover{
        background-color: black !important;
    }*/



 



/*MEDIA QUERIES*/
/*@media (max-width: 760px) {
    .main-product-cards {
        flex-direction: column;*/ /* Change to column layout for smaller screens */
        /*align-items: center;*/ /* Center-align cards in column layout */
        /*width: 700px !important;
    }

    .card {
        width: 100% !important;*/ /* Make cards full width with some spacing */
        /*margin-bottom: 0px !important;*/ /* Reduce bottom margin for spacing */
        /*margin-top: 0px !important;
        max-height: 120px;
        height: 90px !important;
        min-width: 200px !important;
    }

    .img-container {
        display: none;
    }

    .subscription-content {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .main-page {
        margin-top: 30px;
    }

    .subscription-content h2 {
        margin-left: 20px !important;
        font-size: large !important;
    }

    .subscription-feature {
    }

    .bottom-container {
    }

    .feature-bottom {
        padding: 0 !important;
        margin: 0 !important;
    }
}


@media (max-width: 1000px) {
    .top-3-rows {
        margin-top: 350px !important;
    }
}

@media (max-width: 960px) {
    .top-3-rows {
        margin-top: 380px !important;
    }
}

@media (max-width: 900px) {
    .top-3-rows {
        margin-top: 360px !important;
    }
}

@media (max-width: 878px) {
    .top-3-rows {
        margin-top: 460px !important;
    }
}

@media (max-width: 780px) {
    .top-3-rows {
        margin-top: 470px !important;
    }
}

@media (max-width: 473px) {
    .top-3-rows {
        margin-top: 670px !important;
    }
}

@media (max-width: 401px) {
    .top-3-rows {
        margin-top: 870px !important;
    }
}

@media (max-width: 391px) {
    .top-3-rows {
        margin-top: 770px !important;
    }
}*/