* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 14px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #333;
    color: white;
}

.site-logo {
    height: 30px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
}

.main-text {
    margin-top: 250px;
}


@media(max-width: 1024px){
    .sub-link-item{
        margin: 0 !important;
        margin-right: 4px !important;
    }
}

@media(max-width: 769px){
    
    .right-lnk {
        display: none;
    }
    .join-now {
       
    }
    .lik-box{
        padding-left: 0 !important;
    }
    .sub-link-item {
        font-size: large !important;
    }
}

@media(max-width: 650px){
    .sub-link-item {
        font-size: small !important;
    }
}
@media (max-width: 506px) {
    .right-lnk {
        display: none;
    }

    .sub-link-item {
        font-size: x-small !important;
        padding: 17px 4px !important;
    }
    .join-now {
        margin: 0 !important;
        margin-top: -6px !important;
        right: 0;
    }
    .home-link{
        display: none;
    }
    .welcum{
        font-size: smaller !important;
        padding: 0 !important;
        margin: 0 !important;
        width: 80px !important;
        height: 20px !important;
    }
    .navbar-nav {
        padding: 0 !important;
        width: 80px !important;
        height: 20px !important;
    }
}

@media (max-width: 376px) {
    .right-lnk {
        display: none;
    }
    .sub-link-item {
        font-size: xx-small !important;
        padding: 17px 4px !important;
    }
    .join-now {
        margin: 0 !important;
        margin-top: -6px !important;
        margin-right: -80px !important;
    }
}

    @media (max-width: 330px) {
        .right-lnk {
            display: none;
        }

        .sub-link-item {
           font-size: xx-small !important;
           padding: 17px 3px !important;
        }
        .join-now{
            margin: 0 !important;
            margin-top: -6px !important;
            margin-left: 66px !important;
        }
    }
 