:root {
        --text-color: #000;
    --background-color: #000;
    --primary-color: #d4ff00;
    --primary-color-hover: #afd200;
    --secondary-color: #262727;
    --accent-color: #97a7b3;

    /*  --text-color: #fff;
    --background-color: #fff !important;
    --primary-color: rgb(221, 6, 109);
    --primary-color-hover: rgba(221, 6, 109, .7);
    --secondary-color: #222;
    --accent-color: #b6bae8;*/

/*    --text-color: #fff;
    --background-color: #120606;
    --primary-color: #e00000;
    --primary-color-hover: rgba(221, 6, 109, .7);
    --secondary-color: #991515;
    --accent-color: #f23b3b;*/
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 14px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #010101 !important;
    color: white;
}

.site-logo {
    height: 30px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
}

.main-text {
    margin-top: 250px;
}


@media(max-width: 1024px){
    .sub-link-item{
        margin: 0 !important;
        margin-right: 4px !important;
    }
    
}

@media(max-width: 800px){
    .lik-box{
        padding: 10px 5px !important;
    }

}
@media(max-width: 769px){
    
    .right-lnk {
        display: none;
    }
    .join-now {
       
    }
    .lik-box{
        padding-left: 0 !important;
    }
    .sub-link-item {
        font-size: large !important;
    }
}

@media(max-width: 735px){
    .lik-box a{
        font-size: medium !important;
    }
}

@media(max-width: 693px){
    .lik-box a {
        font-size: small !important;
    }
}
@media(max-width: 637px){
    .lik-box a {
        font-size: x-small !important;
    }
    .custom-search{
        display: none;

    }
    .search{
        display: none;
    }
}
@media(max-width: 585px){
    .lik-box a {
        font-size: xx-small !important;
        padding-right: 0 !important;
        margin-right: 3px !important;
        padding-top: 15px;
        
    }

}
@media (max-width: 506px) {
   

    .sub-link-item {
        font-size: x-small !important;
        padding: 17px 4px !important;
    }
    .site-name-logo{
        font-size: 32px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .login-button{
        padding: 0 !important;
        margin: 0 !important;
    }
    .nav-top{
        padding: 0 !important;
        margin: 0 !important;
        max-width: 100%;
    }
    .container-fluid{
        padding: 0; 
        margin: 0;
    }
    
        
}

@media(max-width: 430px){
    .join-now {
        display: none;
    }
    .username-txt, .welcum{
        font-size: small !important;
        padding: 0 ;
        margin: 0;
    }
    .welcum{
        max-width: 100px !important;
        margin-left: -110px !important;
    }
}
@media (max-width: 376px) {
    .right-lnk {
        display: none;
    }
    .sub-link-item {
        font-size: xx-small !important;
        padding: 17px 4px !important;
    }
    .join-now {
        margin: 0 !important;
        margin-top: -6px !important;
        margin-right: -80px !important;
    }
}

@media(max-width: 357px){
    .lik-box a {
        font-size: x-small !important;
         
        
    }
    .top-editors{
        display: none;
    }
}
@media (max-width: 330px) {
        .right-lnk {
            display: none;
        }

        .sub-link-item {
           font-size: xx-small !important;
           padding: 10px 1px !important;

        }

 }

     

@media(max-width: 430px) {
    .navbar-brand {
        margin-right: 120px !important;
    }
}

@media(max-width: 392px) {
    .sub-link-item {
        margin: 0 !important;
        padding: 15px 0 !important;
    }
}

@media(max-width: 357px) {

    .sub-link-item {
        margin: 0 !important;
        padding: 14px 5px !important;
    }

    .lik-box F {
        display: none;
    }
}

@media (max-width: 767px) {
    .lik-box

{
    margin: 0 !important;
    padding: 0 !important;
}

.page-title {
    display: none;
}

}

.o-icon-svgD {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
}

.o-iconD {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: grey;
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

   /*ScrollBar*/
/* width */
::-webkit-scrollbar {
    width:6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 20px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
