* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        //font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #333;
    color: white;
}

.site-logo {
    height: 30px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
}

.main-text {
    margin-top: 250px;
}


@media (max-width: 426px) {
    .right-lnk {
        display: none;
    }

    .sub-link-item {
        font-size: small mportant;
        margin: 0 !important;
        margin-right: 9px !important;
    }
}

@media (max-width: 376px) {
    .right-lnk {
        display: none;
    }
    .sub-link-item{
        font-size: smaller !important;
        margin: 0 !important;
        margin-right: 5px !important;
    }
}

    @media (max-width: 320px) {
        .right-lnk {
            display: none;
        }

        .sub-link-item {
            font-size: xx-small !important;
            padding: 0px !important;
            margin: 3px !important;
            border-left: 1px solid grey;
            padding-left: 3px !important;
        }
        .join-now{
            margin: 0 !important;
            margin-top: -6px !important;
            margin-left: 66px !important;
        }
    }
 